openapi: 3.0.1
info:
  title: "Metadata Server API"
  version: "0.2.0.0"
servers:
  - url: https://tokens.cardano.org/
    description: Production server (uses live data)
tags:
  - name: query
    description: Query metadata
  - name: property_model
    x-displayName: Property
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Property" />
  - name: ansig_model
    x-displayName: Annotated Signature
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/AnnotatedSignature" />
  - name: batch_req_model
    x-displayName: Batch Request
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/BatchRequest" />
  - name: batch_resp_model
    x-displayName: Batch Response
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/BatchResponse" />
x-tagGroups:
  - name: Metadata Server
    tags:
      - query
  - name: Models
    tags:
      - property_model
      - ansig_model
      - batch_req_model
      - batch_resp_model
paths:
  /metadata/{subject}:
    get:
      summary: "Query All Properties"
      tags:
        - query
      parameters:
      - name: subject
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json;charset=utf-8:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Property'
        404:
          description: '`subject` not found'
          content: {}
  /metadata/{subject}/properties/{properties}:
    get:
      summary: "Query Specific Property"
      tags:
        - query
      parameters:
      - name: subject
        in: path
        required: true
        schema:
          type: string
      - name: properties
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json;charset=utf-8:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Property'
        404:
          description: '`subject` or `properties` not found'
          content: {}
  /metadata/query:
    post:
      tags:
        - query
      summary: "Batch Metadata Query"
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/BatchRequest'
        required: true
      responses:
        200:
          description: ""
          content:
            application/json;charset=utf-8:
              schema:
                required:
                - subjects
                type: object
                properties:
                  subjects:
                    type: array
                    items:
                      anyOf:
                        - $ref: '#/components/schemas/Property'
        400:
          description: Invalid `body`
          content: {}
      x-codegen-request-body-name: body
components:
  schemas:
    GenericProperty:
      required:
      - signatures
      - value
      - sequenceNumber
      type: object
      properties:
        signatures:
          type: array
          items:
            $ref: '#/components/schemas/AnnotatedSignature'
        sequenceNumber:
          type: number
          minimum: 0
    AnnotatedSignature:
      required:
      - asPublicKey
      - signature
      type: object
      properties:
        signature:
          type: string
        publicKey:
          type: string
    BatchResponse:
      required:
      - subjects
      type: object
      properties:
        subjects:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/Property'
    BatchRequest:
      required:
      - subjects
      type: object
      properties:
        subjects:
          type: array
          items:
            type: string
        properties:
          type: array
          items:
            type: string
    Property:
      type: object
      required:
        - subject
      properties:
          subject:
            type: base16-bytes
            example: "b377d03a568dde663534e040fc32a57323ec00970df0e863eba3f098717569640a"
          policy:
            type: base16-bytes
            example: "82008200581ce62601e8eeec975f3f124a288cd0ecb2973f5fc225629f1401a79b16"
          name:
            allOf:
            - $ref: '#/components/schemas/GenericProperty'
            - type: object
              properties:
                value:
                  type: string
                  minLength: 1
                  maxLength: 50
          description:
            allOf:
            - $ref: '#/components/schemas/GenericProperty'
            - type: object
              properties:
                value:
                  type: string
                  maxLength: 500
          url:
            allOf:
            - $ref: '#/components/schemas/GenericProperty'
            - type: object
              properties:
                value:
                  type: string
                  maxLength: 250
                  pattern: '^https://'
                  example: "https://www.iohk.io"
          ticker:
            allOf:
            - $ref: '#/components/schemas/GenericProperty'
            - type: object
              properties:
                value:
                  type: string
                  minLength: 2
                  maxLength: 5
                  example: "QUID"
          decimals:
            allOf:
            - $ref: '#/components/schemas/GenericProperty'
            - type: object
              properties:
                value:
                  type: number
                  minimum: 0
                  maximum: 255
                  example: 1
          logo:
            allOf:
            - $ref: '#/components/schemas/GenericProperty'
            - type: object
              properties:
                value:
                  type: bytes
                  maxLength: 65536
                  example: "iVBORw0KGgoAAAANSUhEUgAAAHwAAAB8CAYAAACrHtS+AAAABHNCSVQICAgIfAhkiAAAIABJREFUeJx8vMmvbtl53vdb7e6+7rS3rapbVWyKpEn1VgjKiiVHDgJkYsCTTDL0vxGNM0pGGQYBgsAIPEhsBzBsWYwjU5IpkmJbxWJTvLfq9qf9ut2t5s1gf1VS2j05wOk29rfWet/nfZqtvvXv/qU8f/mSp89esFmvqYyhqTx3z84oq4p1uyMmOD8+Y71rubq9RATund8lhcDrmyue3/a0/YjVmtpbvvDoDoWxdAG6foeIZbvfEuJAM58Rk2e1PKYqSkqXqQvBGYUgpJSRDBGF0QqrDRGFVophCFijKJ1GaYWIoRszfUiEqAiicdZQmshq5pkvltRlCRFutx0pw5gy3msqr1CiGUJmCIF911Najys0s9pRWEttG15eXzDmnj4KbR8J2QKay9dbsB5nEvdO52jV8fL1awqvmc0arDG0bUdReGZlhVGGfbtjuThiPltw941H3F48J8VEN7bEmDlannO7uUah6PqWvu/RWuO0o7QlXWpRKoNSiAiIRomAAlGCUiDZAgkRxRgUr9YdWRmMcjjrsW3bs1ouGfod8xrW12u2+zWF9Sy6EW8DpMCwjYzdiBHhdrvnw9sNX3jnPVZHZwwq0PQDhcsUJlN7QzsOPHv+giGOOFezWM0Im5HKz+hCxrlMYQHJBBEMGgVYq8miGIeANRZtNQRBaQVKo7VC6+m3lTHowoIEkggkyClSVppxGLm8ukLEUFVzQgigNTErVHL4bAghMCZh0ZwS0yWV80RGQkigLEla0JCSsN8HRAwxjPRZCBq8thSFR2uNFYNTlqP5jFldk4AUEzklcgRfOObzBYX3LJZHKBG0VWAcpaq47deEMLLrWrwrGKMiiMFkRWM9MSdAEEAxLS4IaKZLQClFUXq0UaQI234gK4OgCDkz9D3m7//h1/845kRdOM5PVxyfzCkLg7EKbyzLskGLYLVwu7nl6cUl67bDOse98/tIBEmKRgvZJJQktpvXaON5eO+Uqmrw3nK8nFEUNSjFYjZjVjowCqMNBg0ojFU4Y5Gs2PURbRx1VeC9RymF5IwzGqUy2iiETBIhZsUYQUQxrzTegjUaUZCALIYcR0Q0KSpQCqUs7777RfZ9x9XNLdpoFJoxjDx9/ZoQNUNUKDJGZUJINL4mpkQUGGJCK03KYExEqUxpCorCYJ1BFIz9wBhHrHKIZEQy2miqqiEMIxrY73f0Q08MgRAjWYQsmjEFwjAiWWGMBjJZJQpTsJit6IceQVDTyqNQaK0xxuBdgTGWMWq6MaNQRAFJCeuUIY6BbBTGW06bitPSUPqCMQmb9Q4VEykprHIY5dAIY0hsN7esjk6YNTXH3vGzV79iN3aMfWQcE9Z6zs9m7LuByjtO5zVtHEGEsrAkAa9LFAqlIkoyKUOUjLEGrTSFL6ibGq2FsY/sdztiGsg5T2WdTMyQksJojbEZrWB6TMFqBQxAQivBWYdSijHBi9evePfdz/Gti2+DMeSYiMPIOCZuNhuc7ZhVhtJG6kKx73fsB5kWWxuM0RTeY1RCSWa1WKBsRHuDSgmrDW2M9DLShxFfeorGUjYz0hiZFQ3jOKCtIabEMPYMQ8CVNRo9lW2EIUcqoynLEm8cIQxkBA2I5MMRV5991VqhsCgdpwogGRFBRLDDOCJDxpSeflR0ux1j13Hnzhn1rOL4aI43cHNzi7eZ1WxGESsKq7m3qJG843YcEKlY1At8ofHLO2AblDY4bSms4Iwlk6mdJ4WE146oEzkFQkrMfEnpPJuxox8DBk1lCnKISAw0ywWLWcWDe2/y9Oljdu0tAFZZqhJyThgzPV9IQowjeegYh579bkcWhStK7pw/IAyZzEgcXyEp8u47b/P8+VMYA03VsO56tDYHnJBJACSKQqPbSF1q7jaOPkCIiapyNIXhdHXKentFkkROEecsdd0Qe0PXR2bHK379t7+Bc54w9KyvLugjhJARAaXAWkNZlgQTyTkTYyKRUc5hnQWBTObTil5VNQBlWSIiKGNwxhJCZohh+h4GrSO6sFjU1BNjyuy7nn63Zb9dM4SR2XLB0WwOylAVNTkrtilyu46UOFKOZKVJIXHdbwh5xDmhaUpE2+ln2qJcxjhDysK+bylNNZUjQAk0viTlEUVJjJEQwXuIqUdJQ7vrSFloZhnnDZ9/7z1evnjO1eVrQhRMEspKoVNk2LWsb29ody0SdgxtxzD0dLuW2+sbJGtWy2NmRytmqxWvF0fcf+Mt+v1APwwUZUmUhEkaQyaOI5I1znkK7zleCFoEoyM4g6QMkkgR0jgQYkSMoLVgrKbSBb5Y8eL2ki9/+WuU5bRApm7Ytzv2YyKGQGUcVmuihco76rKkKktiTCAZq8FbSwgjGQEs9XyORtA54pQhS0Zpg1YKtMJZg7NuOvXZkHPCaqUAwRiNUYq2H2iHkWII5O0eK4KkRM6ACNpYshoxpSIw9VljHVYnQlCMIZKSwzjHOESqIuO1QUShlGCsIalEQmFQRDIxD2gldKEHycQcqW0FOdKPPU45ogrcdpfk3JPzwJ2zB1TlnI+fPsGrwPb1mj/7kz/h2ZNf4RRIjhgExKCsIcSAcZ4shu1+S339/FAyNQLcf/AWQ4hoC0cPHnH/zS9QlxVKGcqy5ne/8XtY4/nRD7/P1etnWCPUTJjC6oRkxeX6Al8U9DFQ+Jqkd9MJU5lmNsNae7jndI1jImUhC6A1SsAYw/HpOevNDTpptBKMMZTe4LzBaU0SzXt/5z2a5Yrd+oZPfvY+xhiU1lhbgMpomVqcUgqlDGShKg3W6GnEmTc1ceiQlDBGY9XUA2NMSBxJTIgy5cwYRrxbAGnqlCoDBlKe0CIGrQ1FYTBKERXkJDivUThCmsCGVgZt0meAJinBaDhbVGit2XcBbTNJtsTeU7iSq9dr+j4QV4naL9hfb/mn/9P/wA//+vvEEDlqSk4XC8gJby1N5XEahrJkVI4cA08++Rglmtlsxny+YAwDL17+B0pfIHGk/PADfuK/yeL8Dr/3D/9T3n73yzhbgRLeePMt4rBjt7lBlAIJaKXISbEdt5Q5MoSE0Y4YIzklrI1orXn69Cnz+RzvPVeXVzz95Bnr2zVZAqmwFNZxfHY6gbck9MOIVprSOuq6IsuIAE09o1nMERRlM6deLCAHvDFoZUgpYcgoM41vWSLm8NlaYwySM6IEVxSUpWdRGpazijEpum7AGKEfMxjYthFSIishHE5IXRpSzlidp9m5cBhjMNYQhQlgaAVZMFpNPVGBiGCURpQi5QxMG0drBUkRdh2Xz56Suj0pjpDAlzVn9+/zr3/4z/nOd77Hr371hBQjxmq8c8QQ2O/3OK2YeY2TwLhtudn2dEnw3nFSFojSrLc3XF5e4CqPt562j2z3G5rSczSbsV3f8C9fv6D4Lw3PP/qQb/zhH3B5/QLnHcfHJ3TdjmFU5JxQAkVZMKtm+JSRnKZNjWHMA+NoeH1xyfX1nyMIBmExm1GWBf0QERLz6pzz47tc3z7Hm6lVBpMotEdyQlImZSHkSNvuqOo5w35DDgHnLUodyn5UOJNBhMIXxBzwVjGvPPYzUDN60AqlFUYZQE1I2LlpzlSZnDX92DGERAjTP9RaobSgdEZhydmQk2boeuaL2WH3ywSCVERQ5CyIEkRlJE8lbtowCnLmh3/1XT75+S/RKbPdbrAIQqbre7p+IBvNzbrj4nYzERPeoYA4jgSVGIPBWk1KmX7MtEOgKD0mQ06ZbrtFtMFqRe09bTeyjz19GOnHwMY5dl3k7ukRervjn/53/w3HZ+f81Z/9CV/93d9hvlpxfnTK0E0jGyiSTFXLOgtW0TRzLi6ekdLImCL7biRpS+nBGkNdTbhlKrUzvM4sF0dcXrwipIGcI9ZoisKyKD1aabR1hzk8cfHsVxhtiDFhlacwnm23weoC5z3tfssbd+7y5MUtuy6CQIgBWxUaSQZvhDEGtNZkYAiKbdsTsqFpSrJMt6odhFJRWkEpg3UlVVPgtQGj2HcjWfKBJIGYpo2BCGhFioedf2CGogaVMikmnHZ889/8a37+4x9yPGumEpWF9X7P2HagMiELMSdszqzqkl3bTQjcOWZVjTPCYt5QFwVKK2xhUezYtz2bbYvWGq00hJEsgvEel4WQp/bUlAUxJW7Xaza7HVbDndMjxqy5ubrik59/wG98/RtsHj0iG42kRF3VgKK0DSgNori+upoeW03ANEuAPCBJUxQaRaB0lt4xoXlXs26vGeOewheEmDBWfcqpYKye8JKzIApnNSHB+b0HvHzyhBcff8LqaEXX7RAEsZpu2BNCizZCjJmUDBbJWANjCHRdS2ENzlus0ZRVQegV1tTkENBWuLvwLJ3FKrjZdAQM3iv8YslitWAVhTFGxjgSxsBmN5JjxBRmQuVGocWAEnLOpCBsri948fgxv/zFL3j20WNq69ht9xMijQk7gU5iStTWoZwn+YzpBkbrECZ8sJzNuHN6zMlyQVlYlBK22z3bfYdxBfVM0+53jMNIWZWURUGKkRx7jECOgSFxADqQwsig4KdPnkN6ytnxkgd3Tnj+v/yvnN2/x4O33+X8zhlvPnoT6z1aQwqBrBRZRrSeiKWkI8t5hTMag2ABsky9uZwwwPFqyabd0PgFzjigZ9v3aGUmutg5tPekcZx6PIrV6R263Y7N7opEQsgIwhiFLgzkxMRMRo1WiTFk7H6/Y7vdYayh8CWFg7L0IBljNKNkrtueprQYrcDWKC8EHDEJ1TiwvxnYbDseaMcbdx9itGUMPaP0zHc9l5c3KCUoMhbwaFIWkgSuXr/mVz/+CR/+5Ef0Q09hDWMYKQvPrK7x1qBzRmkmKjRG1n1gN0RWVc3X3nzAqi5ZVCWNN2QyY8rsu479EPn46TNutj1OG/p2P/3eSU1KmRgjeIOJnnYM2LJgM3SIsvRDnLiMDBIzGM3Lmx1Xu4Evvv0GT371lE+ePGd1uuLevXO+9pt/l/gAVqtjfOkZxgMkAQSFUQpnJyLFWsd+N+JPSxoyGjB2pCrt1HNDpr0ZGEImjQP+/IjFySm2bEhhZLu5Io6JFHuGdk1ZlvTjMAEjBcYaVFQoHQ9M3DSLh5Swy9URQ4h0bUdT1NRVhbcHOi9n6hBJknE6I1nTjpFdSBjlMcZitZBFcXHTkewF603H6WrFyWqFRPDOsFrVtG1PShktGas1i7Jms0m8/93v8exXT9j1gZRAO8NiNUNJRLLw6mZN23aMMRJF44uCzz96yB98/i0enq5orKIPiU3Xk1Nkt23Z3tzStgNDiNRlQYoKLcL9k/tsdlvW15d0Xc+YMnIAkVEMVoORiU51hWWfYBwDvnCgFNZ6NvuO7//0Fzy4c4fGG4bnI2M/sr7Z8Y1/8Ef0SXOyWkHONL7mdreZgKwzKGNQObNczhnba9rdBrxiGCPW2amtKY01npAmAUR5RzE/xc6ODi3UsTCwv7qh320x1tA0M5Q21HWFNp7lyQN+8sGHjDGwH0dUNmjlyLnHbrdbwhDwrkBrSzYW5WSamQUMIyEJIhrJkRQHQhipy4LKa0rn0UZAC7u2ZwyRLuxZby8p/AQEc5bpNCGIwL7bc319w83zl3zw4/fZdz0hC9Y4hnFg33ZsNjuyJFJOhASN13zx3Tf5rV/7Eu++9YDT1QqlhWG3h82Gy9cXPL+84epmTcwJYw2+KvHRU8aEZOFXjx+TQyZIpguZfVLYquB0teRsuWRZWHIK9OPERWzage0Q2HUDbdehlaby02I8ef6cs+MjSu9Q2hGGkR985zt84Td+Cwbh9M6Mfb+fDp2a6M5pcrF07Z6mdnRjhzclvnB47xlVAIH1ZktMEVGOe/fvszg6QSnNtBU12hicM4xRYY2bmryAsRZfFDx5/JjdrmOMgXYIqJxRJIYYsDFN4KUqSmb1khASyYC1GZ07VBogmakEhki770jGgVaUHpwDsqOpwTiD0RMrpxQMIYJM9KQg6ENZ7ruBbrvjf/vn/4Jt2xNTRltLP/YMXUcYeyqtIAaMsXzli1/gt3/tS7z71n2Oj1cUrkTlTB5HUkxYZXjzjfs0TclJXTCEzKbr0M4x8wVxGXn67BVYRwbGMVIfNxyXJcuqoDbCyaoixcyYErZoML5kO67RMXL3bEVd3mEIwuOXr4hjxGnLzW5PVXraEDlpKuYvnxF+VDK8k1H+nKauJwB14FoW8xX333jErJkRhpGby2f03Z6UJp6bLIgVIgnrHEoM5+fnaK0PrUFQaEQ0OQsp58NImw4bS9jvNvTDgGjFdFtzmCISRmksaLS2WGtpUwBlcFlRG4PzQlNm8pghR4SM9QXO1ey6zNlyagFCIkVH+yl3K1AVNWPsGWIkiWAUhG6kHyeV51vf/CbtbkffdyhjGftIThkrCUPEx4CbHfF7X/9tvva5N6ibirOTI8r5ktgPxDBiDJSFxyphHDPnJ8c0RcHry2symctNy81uR0gjulC889Z9nNIsT84wzqNSYt9u6fqOj19esBkjQ8wT6BwjKUW0NlibaBqLzpnCeSKWnATJiVk9RxtFFri4uuW2/5CmOeb8wTFNPY1gKDg+Oue9r/4GzhUAFPXUay9fPJ6kWyDJAcge+ApQDENP3dSogzgiIox9P/2NyDQyWzNNHBQ4q1C5mwivPFWFRJ7AaRbs7WbH0EWcNyyLEq01CY2yBq0FbTRt16G0xmjQxpAEtFIYA64wNLMFczNjt2tphxGlhbZrUTph1ETHhqFnGAMimttXL/n5Bx+ilGZeOvYxQ4aZSejQ0g6BvDrmP/57v8OvvXGG17BcnlDO5pATWguuqUjjQFmV5LKkVitCylTzjmq55KwfeNi3iAgpwdDvmVc1ISRiUgSBYRzp25K+6yhdycubDdebLaXxdALiLL5u6IeBXR/ou56z4yV1P7DtRvqQWe9uuHt2h303EDd7TrXh+ce/5Ct/5x1iCFjXUFjPgzcfTbQnE8UsAlW9YHV8zsvnH7Ner9nsBjKGpp5PoyOZF8+fMZ/PJ05cZdLQ0W425JQ+k0MFQaVEypEUEylnUorENLVRpRTOWgSF3e87jhZHNM6jcsKaTE4aYwvSmAgZhjSJ+QroAqx3a86PzmHUSJ84e+MOq7c+z9D3XN/cMnTX7G63DGOLHPqHHCh/7zx/8c0/Q3LGO8391YJuTFxdXdN3W27bnnp1zB/9/u/y1YdHmDRSrVaUTUUcR6yvcFUBCpqTM4y1pHGka/fE/RYbR8pkMVZoSovkTAgBmTk0ClGaFGDsR2JpyXVN17VYa7GFZbla0PYDY0yICLebLUOK7G9blvOaod1x//gUd7fko2fPaPvA5nZDzpl9jDjnMBfP+cUH7/P2G/8QbwpK7yl8cRj3ppOrFYiZiK6UEgdHA1qBRnF8fMR+v2fcbXn8s/c5v3OOFiGnMGn7ioMADFkUkoUx9ofpBwRN4Urq2iBaT3pGTtjU9+QmcvfoIcvjFc55bnY9TkOIG8YkJAXdqLBaA5qYA+vuhkTJ5W4k/vwXnO32nD94k/v33kCph1w+/4gXr57R9z0pZ5wrkRz48Ec/5OnHnyAx88ZpzVHleba9oN1ec7EPzJdL/rPf/zpffniEJ1KvVsyOznCFp65rtK3RzuO8xzpDGLqJqlSCswZxhiI71JAQJQxjROuMHJhBSUIeIiYGtDYkDK4pOZpVvB1OWW93XO9bbnd7ttuWhV2wKx2ruuJkPmez37Hpe/bDjqNqIqTGMTGMHdZ5Lq6vWTU1z598zOurC45PTxAnDGNLzREHRxIAOUZyjNOz5IxxgaFN1KuKvhtwzmO0wqhMu75EafcZEFZ/S4QBQcuhJcTEMI5o46i8Y7U8YTabYwz0Y8AezSrmTcFNu2YfelCGmA1HD884PTlnvelpTEkngSQTC6fUpD+PaQQUHQNXtxd03R5Xf8Lx8Rk5xYMor0CEsev54fd+wF/8u29CGihLWCwXXL9+xZPnz7ncDZRlxT/6w6/zxQcrbA7UyyOao3NcXbOYrcja4KvmwOIdvD1Z8L5EKRhTwOapp2sRYgwoIOkASmOzMISOkMKh7CW0HMwSxuBy5rixzP2M09JwWzmM8ySB7XaPMZrS1FQqkeuCpXOQEzcEkJJxDJRNyfVuS7VZc3XxmuVqyXaz5clHv6AsaspmiRzKeru/JcZAURSMQ0/OmUzi5eULfOFpmgaRiXbu2g6lw+SySQFf1lN7HToQmRC8CEEB2uKtw5dzjo8X3Dk7xhjFdtdj/sl/8Y//+NHdN3EKjMmI1oxRGOPAdrchhcgQhSEIEhLeGYzWeG+5d+eYk0XD0Xw+ce8mk8bMenvDershhEQGwtDz3T//K/76L/8KM7bMjLBoGja7HU+ePudi1+F9wW/++tf4zS++RaUyRemplyfURydUszlaG3xZgrU459BGow+b3DgDWkAikhM5ZYzSGKtRSrCSsUrhvMMZO/H2xmA0k10qTYSQ03rqgWlEa6GyhsZaSgNNUTCOCYcip8gQBgoF86ZG0CTAe48xk+5PTOQw8oWvfoVxHLDWHWxWmZQyu80N2/UVQ99Nvr4QCSHQ9gNKT63IWkvOmaYu8M4zm81w1k6UsSumViAZJRptLV0I3G5bhiBYU7BcHvPOo3uUpcEYRVF4bAT6EEhqcovKgV7qRoGsaUNiM3T0IVJYz1FdcrKYc356h8XccTIrUGIQFcgpk/KIyGRTcsWMR4/e5Z/9j/89P/7ud6gYKQrNvDnl9e0tr16/Yrvv0cbyxhtvcefslMpMMl45W1EuT3BlcdC10wTQcGgz8c8SMqIzpIBOCZUV1hikcIi1mGgme4/WSIjkcST0LVZnslKkNI1CWvjMJJhyRGVQ0WDRiGTMVEo4qgz9IAzGUFtLn4Qiw8N5QVNVvFjvGEJAW4cvC55+/ASjNaX3CPDq9SW36w2+qKd7pZHVfEbhHFXlEO0YRePtpI6hQHImSyZGMGpSJSUL3X47zd9MwlTO6TCrW0prWS7PaCqPteYA3DTWgLWFYz9u6FMkx8yQW5R2iFLUbkKGRgnLxmOcoWgKQlJcbtb0UmAsnDQNKiq8K8gpkdLEkXfthn//b/4Vf/Fv/xQXB45nHhkzXd+yXt8iMTNkYXV8xN27Z9w/X2FE8HVDc3JO2dRYpdFWUzQzjHWTVq/NpFFIwo6JGHuG/RaGAZGEL8qpjWwD1jqUUYQxMrTdofepyYgR9MR1qwg5kWKCnCEljDaT6VEEJRlNwigorMMag7cGa8CECFl4c2ZYFQt+9vJ2Am/eITFQlxPmqAp7OMWREHqQBCI475gtj7CuYR6gOdrR7daMw46cE0PbEYNhiBk97TystXR9R9/1aDNV3MoX1K7CHM253Y3s2zW2mCxS1upJqEoZ23c9TWUxSqFUotAH66sGZSbh2jqLFkVdeAotk0uDSNcnYi4YsiaqRJZMTpkowpgiu/Waf/HP/mdMCtw/XhA2r5kvz3j/409wwMW+JXuHLUu8M8zrCqUirlpQ1HP8QdlS2lDUNcporNFohBwjceiRGFA54a0mBEGUxZUVIQxY5xGJhC5hCz/14xAhZdKnyqDJIAoTDTEMxBAmCVKBVoYo6UCeCJDRxlCVFiUTDjDKIjmRuo5F4Xl4vOBnr29o9y0zZzk+PufNz73H9cUzXnz8hOPlijFGskS0cpzceURZz1AKKlEs5AjyXW5uXrO5uUYlsNZTeo13BUPoSSkx9AND3zObzbDaspgdkbPhYv2cm23PkBUpK6ryitWqoawct9sW6wtLWXhCEkIOhBimUpcylasJMUAWrNUImWY+wyQQZeiHHusdAxFlp7lRtCKFhIyBP/+3/zvtzQ3vnC2I+zXzwnC932GtY7PdARpn7WQxjgGvNW6xoj46wSgNOeIqjy4qnLUYN/m1YojEME7u1IP0qrVBtKMsLK5sJkSuNiQCSmuc9bRyO3m+tCJJmJwhRuNdRYiJMSdsTCQRRDJZEmNMZNFYZUAgScZ6T6M1oe/pxxGbR8RqwthzXNSUDoZhwGuQLDjrmS1OeetzJe1+jRkGhi5x7823Kev5ZPhAfTqZIdpzdPKAMQpXt7fkPnC+XOKcpapPGWMEW1DPE5vrGxSRwrfEnIg5kwW6biSEW4Jkmuuaxdyz27dYpzUkGJMQlEKMJWZFDIk6T+Wj8hVaKaxSnC4XjMmwGwdCHCf9F8iRaacnGIeR7/7lt/nog/d547jBjj0hbSmW97l99orU90jMNE3JbdaMQ4eVxKppqJZLdOFRKk7+uSxUZTGFD/QUVlBKsEaTxojkSAwDCLimwpcVOYMvS6SvSSHiG0fqe0zhyTGRY8YoczBWBiQLMkY0Cld48jASY5gMFMOI9QVKu8kqpC3GKhIaUx3KpNKoFJGcMVbzxukpj6/WpBj5/ne+jSlrHr3zOZrZHF9UyDjQ9R2r49PD/P3poPY3l9Zwfn6XzWZDHAZiBFc6muM71CITUwikGPjwpz9ms9+gdcUwTofA5EQaYb3esN/vGNqCEALmH/3n/8kfp5zpQmA/tNxsWzb7lrYfcEbTtR3zZkZTVGirUd7QxzA5SkThncZbi5KJ513f3vLi8Sf84Nvfw+zWzItECpGytLSjZt0NDLsdRVmAhlE088Ly+Yf3KU8WCJ7aarxKlHU9Gfdnc6wr0NaACClFckxIDMRxQEsGq9DOoWwBB2ODtQW2qNDG0Lct2mhynGjGCaGDUZMxQ2RywyjUQakSUkxoayaD4OQUR2mF0hqtJgVOciLENHn/RAhZmM9XXOxaqqrGes9/9Pd+n9lidXD9GJxzuKLEFQ3AZ2GC/+ulUEqTc2az3pBCYIwJWxRUdXMIU4DShpPjM9SYGNrA5XpHSomZ9USEcQwT+m87clbofdfS7jcYBbU3xBRRBNK4J8d+Qr0yuTiUCPag1BSVpfSanAJD7IgS2Oy3DCHyo+//gKtnTzguFTEmjEqIeG67jq7rqGqPthbjkjWKAAAgAElEQVSUxQFn84pt2/HxL5+iYsdq3pBDwuopK0ZOYAziPdk6SAnSQBx3qDxM3teYAIvSDl8vUNqRJE3gKGV8WWK9p5rPKKoS7TyiNKI1Wk0jVVGVGG+naqYNzllKZykOo6CyBuMtxlh85RFtQVuUtTSLOd47jES8BO6dHDNbLqiqmqPjs6k6KUVOid3mZto4qP+Pxf6by3uHL6sJtBqD95NwNbF2Ex+hrQUUt9sbtDqwd0YwTk2tOE/mERGLLjQ4q8h5Yna8r7C6wNoSbTzCFPLr0khgskGllCe/VaXwpSOMAVD07cC3/vTPePyTn7Ckp1ktWZQ1KY/c9iN9jBTWUFg3RYRiZu4nO20/RlYOVpUlSaaYzxEF2mpcUU58sdaoqkIZg/Q7dDpEBFI6fPBTrmroW8I4IAca0jqL0hZjC4q6oWgaqlkDRn0mKwpTkKEo/TS/62n0M1qj1eQ9N65AG0eWaYQNcYodVfWM0hfURYHOkOLAcVMgqIkd1NMpFqAoLDG0dF13SIr9/185Z6zxdGPketOy2/WfCSmfXiKZNnbs+j1aEpXTzJsCpyZBVSmFpWDoOrR3TK7Ufs/1+pZdGxhiCaYhiCNrh0YfaNUpn9QNHd0YDqd+4nK36z3//k//D97/6x+xzD0Pzk+pS4N3ik1UdEmRw8Cy8gxJ6EKm8Io784JdSJzWmtOVo6obtNYUdYmrS8pmdshQCXnoJ1apLhGtUW7S712zoJwvyCnSbtZsb68IY0fo93S7azaXL5lye5NbtZzNUM4yX62whcdWBZhpkSd0PtHIiski5K2j9B6nJ383GcKYJrHS2Cl2pCzOOKqypESYFxoEYoy8fPZ8UsFi4PLiY7bba7ab2wP6z/+PRf6bUy/s93u6/UAcM7u25/rqihjCxMod2MKrywtuN2uKsqIqp8pbOos1hhiFlCdBpR167JAVlXM4E/GmZGMCdVGyqBzaObpeURcNi7nlztmS45NzLjY9y/MTSD0x7Hny8Quunl/yw+9+H7/f8PB+g6vneITH1xtQjr7bcXfRMA4dYjT7IXG/Uay7yLwpOF6UzI9OcHXNfLXElQWu8ChXoJ1nioZm6LeTAdEaLl5c8eLlBZsu8pOffYRR0HUtZ6fHnJ+tUDFMgKcfUVl49+23qCuP9h7bzMhjj5MZ5IQ1lq4fQKbZPCrBFx5zqEZZaULMmKSJQZAcPivTAKKnsj+XTEATD544lOHq9WsevP02jx//jJeffMSsqvBB0bd7yqpBJH8mrHyaAVMK9vsNbddiC0ddlKxOjlg2DevrDdpbtM70bcerF8+mHIAvUVoRYmTT9owhTFm9lIgyTryFIkO2pOgwpqB0BU3hmTceW3rGMJBUpCgKFEI/tsQQaZqaqqxpd4550/In3/tXrG9u+eKRpcvCerdDxoGPr7c0h5Fu37Wstz37DE5NpXzIivPGcPfefYpmxWy5pJjP8YVHYiLGgHYFOhvECBIjP/vh+3z4/gfElPnkxStu1vsDJxC4vb3hxz/5gMJ5jo5O2PfTgxfO8eNfPuWrn3+LeV3y8OE9jNYTbxAS3b5nv94SxoxzBaUvUVajjQetMVpNocs0ETQ5Z6yd2olkAZMhTSyhKD2NmCQuri65uHrF9773H/j48Ye8dfcBx0fnjGng+eOfcv7wEc1shVKfplKmMXO/X3Nx+Zq2i8QYmM9KTk6W5BBIcaTb7yZOQTLW6ikuNg7ElBjjp6naia3TWmOSoF3CVs5SmILceLKqgZabbstgFDZklDOstzeMYc/zV1A2NaYoiB9FSm/Z73rGbuD2+prKaBKGjy62WLa8WLeIcdzmQG0y7c5SNDPadk9jFWOwHM8bHjy8TzVfcO/NhyxPT1AijLs9IUR8XUEhYCf8tV+vWSzn3Hn4gJcvLzk5OyMpR/vyFVoJp8s53Vaz37eEtscboSgduzby0es1rzc/5c5ywfnTl3zxnYecLBpiO7DZ7Niv2wmBW4dRk50oSaYsGzKKQjR96idvgNGHnjwZPmXsGCSjrMPrCUucH8/59l9+i67fYRY17zx6m9V8Rb3f0lQlMQ18/Muf4KsFdX2E9cVUVWQgjS0SIzc3NzhXoNQxOY7U8xJXWNhkIkLbjqQ8KWUhC8povHKARpsSpUdSjsSxm1pzaS1DGHi1admNHaLg/KyiLDJWC5INURTGWGIaKBsDJEK74eZiYAzCk8fP2e/2zCvP5b4lDMNkOhCF9CPKGKyCJJNJT4mi0ArtK+qTO9Rndzi7f5flckF7ewNjAGOpVstp7NmvoawYx0weA7O64stf+gJf+dLnScPI7XrPsxfPeX15zcXVhovXl1Ovy5CVIYlivpoRw8h6uyFm+OTiio+eXfAHf/erzIzC2AmFoxQhRYxkNBbrCvKnLyNwFrrJv+dLjx4iogxKCV2YPjurFDiLtoa7VcVf7j/iww/e59FXvsR6veFmfcNyPsc7Qz5o9c9efMTzF5ecnJ7w7jtvspzVzOYr7t2/y5uP3kMbDSIT38Cn/jhNivrAoSsyTIKSESwaZRyVNBg90A0dfY4YI9hhTMRDtkvUlOLISdP3I4WbIjGCI8SItoZyyuaSYuT6uudyc0seItvbLSkK2yEhYVrsHPOBwBAKo8iiGIYEZNqkmTdz3n7vPb7ytc9zfLxgt12TQ8A6y6xckkLA+gLRFmtLfvq9HyAx8/L5J4zbLbWBqilo5iuOlzNO37pLd37E5fmSm9u7bPqBkBVdFNqh5/r6hhWrKd+uFNsh84OfPua33nsEdtIPFBBDJAyBwpWHnLlGGYURS1aCcVPSJQ0jWilEg7FTQmcq8ZGmOcK6Am8Nu82eoespy4LdbkeMI33fA5k4jHTjiLGW0nsqZymqhsXJfZTSfxvJ4YsKEHIayGmyQyk1+QglH94OIUzKpgLnAkVdUtSezily6rHGTO8KKZwhGTNlup3H6IwwedIa7fFVibaTv3mIkbYbubjdopTm8uaaF69fU2no+hGjpkBhyhAPFGmKDiy0fY/NmV0w/NHv/Aa//t4jKq1o11sMgncOjWPoBrz1bLqRFA0///53efLxBWye8sUH59x5cB9bFASx3LQdz5+94NnT51w8e06MGec8VdOQraVuZhyv5pxXBbtuZNd2aBQ5Zfow8upyTZX7KWMngvMFxloUeooLK7CUBAFXNgQUviig2JGSkGMHw4CxnhintzmIKKwScoqMWTMM42cnehgCs0ZRFhWF86yOTmi7joura0LOHJ3+zWL/3+d0ETDWU1Q1Sk9K2Ky2bDY9OU5RrcIXFPWCs7NTXOHZ7zr6dsY4rLFDCHQh00YBZ5jNKow1oAM5qsmarMIkuhcliCYry77r2e8z49iyubklhYgU5jBvTrmxPgQwUJmJFk0ZdE4YZ5jPFsyrkhgiV5cblouKspzTBeGXT57w6uKW1fE5bnbEf/Vf/7doUfyTf/wH/P3feo+6qRDn0L7GiOHsWJitlpyeLrk+X3G77vjk+SuePnvBfghkFMvjFav5jNXZGXfu3ePli1ekOLJqFuR9S0j9FHa0nqOzO2RjSVmhU6bbtdiYUc5PWru1dF2Hq2aTQBMDMQp6TNgsk9GzmrLdcRxRytJtt1SFpyxLtLXTgh5Kcde3jDFy7/495stTtHH/r4v9t0+7HIwQVjG9NCBnkoCzjrqqefjWQ8pyMkwuZyXj/0nXmzTZdqXnec/qdne67PP2HfquUAWQIItdkZRIiUXLmnlkTzTxzJpr5L/gn2CFwyFFOOywQ7JpmiLpMimqyGKRVagCUBfABW6b/clzzu73Xo0HKwE2QZ1hRmRERu591vqa933eYYJSu+gxdLQ2MARFqgJJAkqBxlBM9+n7kaHrGZ0gWEfhAqlImeWe6aRjPTQ8f/L8654zmhDjAsKHAF7QOMvgBEWiSU2gGS1vvHSf+fY2TqY8Oz3h7KOnHJ1dcnZ5yf7+Hu9/6x1MolgdPeaf/OK7fPnFE9594yX6tkEbQaJSLo9PKS/XrKqKs9WarrfkOlqaE+G4tj1h0zSUneX87IKfPHyEk4I7D+7z2qsvs5Vt0dQrkkQwthCCYn9/n2BMXKu6wGV5SVc3hKahajucC2zaGhsCajKn6nq2txbspgYnNKhIS7LOExKDG3u88NSrNVIIsiyjyDKKyQTwUZniE7SOM4jJYpt/aLb+93v0yWzGJFP0mzUXly1t19GPDhLF7mxCmpo4eo2CI9I0iapjGTxSOWbGkCSOPJMkSpEoFe8y20ctlMiQTpKquElbTDIOdqckssMNLQFBNwQGD7OsQBLItKUZBjyaIXhSY+jGhi4YPvz0GU+PlkitODzY55X7N/nHb7/B9cNdFvMpJklJpOFyfclLr97n+9/7M4wPbC5OWZ9C2XSkkzmzxYLd7QXSDzz87AmPTi+jEAMoruzDiQhMjOeVGzsQHO+/9yZdgBdHZ/T9yP7tQ/KtgTyN1AU/jngfaNqatm3p+pGhHnh2ds5Z3XB0ucYLQdc5nIiSkcOdLV6+c4Pr2/MoZybq6bSQdN7hu57L8wsmsznWWbZ395gttrk8PSY4+zVeREn1t8SO//mPHwfasmS9XmF9YDKdkDmPRCH5W/OBwNcvUAgBnaUpLQ3SBLJUMQLa+zg9Ii78T+qa6mJNmsC8MGRpFCCYxLI8Oaaqa2bzBVW5YmESFomh9RCkxAhwQeH6kb6z1FaxtzPn5958iYP9LXZ2ZmwXKVoZZF1x/NmG46u+sq3qKPlRhmI25fnz58i2JN3apk/m/PFffMSjozNu3LiOG0aMEkCCsA0qeJabCq81UhJVI0OL61vK8+f8xu/+M6yHx0+e8Z/+9M/5xXffIk0lynncMND3I+vlmrbr6d3I42fPOet6LuqeZox+8ME76mFEKkNYrdl0LfNiyjce3OFw4lE+MJsU1OuSLNGMg40LltECEmUStDF0Y39F3xhIhzJCff7WUOfvfuJenhBfShcMve8YbSRJzNOC2XRxtfpVX/9W23bYsUO/9MpNqqYhn26xNb3BIOcY5zFG0PUdl6uS4/Oe/XlOkUk8lqruMEri6p7TR8+YOM9bb77MLEv46KOPWDYVbnDYIWB7cFiUD3QSHty7wZ39OZn27C8W7O3tspgVZFkexYgBpIjQmqMvnxLKhqbu2NrdZvQ9lRX80f/xR3z+9AVb129x1g1chjN+8sln7G3NmUrB7e2c0Gy4ubNN0/eU44iRnkxE79jjR0/JpwuQgZf0LR5+/Iiqt0zmU2zV0g/DFenCU3U9z0+OWLc99RC5a4UQ+DAShMMnik3bY52ntzCMK/76k4EHt6/z6st3uX/7Js/OfooPgbaJjth+GDg5eY4begj+qpiLmrbNZs1sdvD1N/IfeuDBO9zQMfbR2eOGkUQbnHdU3Yr6WU1eTFgstpjNZqxWJeM4UJc1+sXzS3o74Fc1kiVWT1joAqUj3G7d9pxtSh7s7DLPA5KAHQXOBoZNTf/iGb/x5su8+0vvk6QZB9f2+ZP/+H24XNPTkZuUTVOjlEZowcQo7t84wKQJ+9cPODjYJ0mvjO5CxoWFlmipuffGlId9j1uuMEJRVw0Pv3zGrbs3eXD/DhdVx9mnT3j67AV5npFqzawwfOOb70Qv988eokIgSE2xNcP1DQJJkU9ZL0/Z2t4iS1Pu3b1BvVrjbRo9XYTISUoVZ89XnK1Llq1lsBYxNugrQuThYkaWp/ROc7apWdYtZ4NDIvn40SOOzs545+3X+P6HkrZr8d6R5zmTIiczhjBEcoVzcb069D1JOtC1mysVjP4HqvSAH1u6rqJqKqq6o+878iwlAMMY8WZNO1CWLdvzNX6Mrp6+bdGKyBbxAvoruS4q4IUjKI1g5PregkkG2dW9WtcXhLHh+Ic/4P2Xb/PKW2+wfPIUpObt119DGc2f/un3EWXH8ekZgx/IdEZhFKlwdP3A7uHB12gQ7z2p0UgZRYhIhTQJaT7l5W++y5cff0LfWeZbe9y/5ZDScu3wgHxxyC9/u+TRk6ccLZc8eXHKMHa8OL2gyHPm127z6PPP2Cpii/PglVdZbVZ88MsfkCUmasqMpm8aEhFoV+s4tAggheRsueRiU7JpeoLziH5AACoxbO9skWU5syIlMzkv3TzkdFXy8fNTztY1Waqw1jM0LQfbC7w0DG2HVjpu53wgBBERHna8QobkGKNYnjxltlgwme0ikxRB9JKNQ4sdOoLtOT8/o217Ep1jsoQsz1hXDU03UtUDKEmiSibJFttFxroZWHcVWoSvxAsBrRVBiij5xaOUxmjBzb05RWFQylM3DevzY4bPH7JnFG+89w6Xz57w09//Y9Za8/rlkgfvvMPqrTc5/v4P0EaR2oRUBUzomWeKpo7f+KKYgBQowCQFWsfFxVeITYDJfM7OrVs8+fghSgoO9w9IE0PVVeQyMJulvHrvGnszzYODGXU3sFxWXFyccbkucdpwXPWYqeW92zf55Td/g/3DPYSCTdVyebnk+3/xIVIrNmdnPLj/EtNEsDXNGNuBTT/yYt3SjwPgQBpoOi67DYf7kjyfIU1GajSv3pmyM5/y8NkZL5ZrLtqBZ0enceuWaLox8mjdlS2otSWZKZhOt8mnM0bvGEdL0y+ZjC316jn96JBKslmvSRKDDArnBXF0KpgWWUR2VhuqqqZpAxerltF5vBtomxW397bjIqy1aHklVBQykOYJoxJX9hwHQeJs1LNBYG++zcXRZ/RffI6+vOT1X/82mydP+Ovf+z1u3H+Fb7z1Ns+ePOWv/uRP2L17l63ZhLPVmuA8xmiM0hgdSRAhxJ4c7zGTAh8cSiVXqhABEqSM6pb5dEI6nZEZie1aXAgU6YTjL59QrTdcVCU+xP31+vSCpqpg7DG+52CakeUTplszrl2/xrTIUCiG3vL7/+F72KZnqiKgIEVz+uQp1WRGu79LeuM6T//6I0wITGYFW1mCcyPZpGAyWTA6z9HJOaecsL+9x87ujEWRc3NnynwxY1lWbAZH1dbcun4bpTRlUzGtSxbTKc7D/vVr5MUcoeRVNR1whzcYmjXV5oShb65UwD29H+jHQFW2GKWZTKfUbYPWirqp4+5fSBCepotHPcExL3KyTNLWLTqEaDsVQiKB1EiCFYDCO4UPHSDITMqqKinPjnDVhje+8SZ2s+GTP/hDpkXBB7/7X7BcrwkKfvRnf06+NWN/e84nj18ghMcYiQyB0Xv2JhPSNMXbARVysB6ZxGNLiHi6aBG7BKEk8+05h7ducu1wj7OnT7k4OWWzWqEIZGmC6lNOLy5p+4G63NA1NW7osc5ilEZbycLMuH/3JkJ6nj55zg8+/Iyfe++bfPbjD/nFf/SA6uKSkxennJyuOT+/oBobnncWTwqZpCdwUjfszSfY0VJt1mgtyNOUxXwfLQ0nJ5cMVYfFks4XHG5v8fz0hGG0vP7G6+zducmjL78kS1NuHl7nxu2XyKdzhFBfkxhBoKQhm+zgnOPy4mMckSxpRDQbDM5z8+4rTKZT+rbm/PiIoe+v6o8kQpa8petHIPD8ZIlOa7rBo9MkJ5WSJMswiwJTTMizLZTOSLXk+fMvuLxc0bQlXd9QfvGY6WzC7No+H/+73yPLM27/3AeY/WtQbpjt7iGVx7UtidKMgYgSSVOKK+2YFUCwOO+wXYO0HWq2hcqK6HQ0Jl4rAiQab0cO9rZ5/uwFUgjmezs0Q0dzOeBdYJrlXN9LGEdHP5vT9w19W1PVJXbsuX3rBr/6W7+JTjXGJHi3ZF5knL044trBHnmWYCcZRZGyNcspy5oXyws+XzeU44C6sg0bnfD0vCJJDAdbE27u77CY5ZwfHRGCZ3drl5sH21T1yPOTUzZtR1PVGBWYzBb8i//2X/L//N//jp2tCfuHN5nOd74ejnz1+Zv+WTCZ7iLNFOkHgnU4Z9Em5YNf/HlMMgEEYeHZ2T1kefKU89MTLjdtJDGKQNuVOJdwLhyT2QIlPPrBg5cweUqWT1CLBU6lBGfom5qhbxi/6jldGy2/Zcl0PkeOjs3FOTt7u1x7610me/vcwHNxfoqaFFjnGYaerm1ZzCeMIbBYLCjyKX1VY0Sc3Fk6jEwIQx/VJFpEIok0KK3QuaHZXCLVyMHenJOjY87OzqjrCofASR0Z6t6SSMtWOqEwU5yz5FsT7t67zWS+QBUztJT4fgA/8q237/Pki2c8ePl+7FlNTnVZUpYtRZ6QVorEwbRIqVYdRZ6ijaFsWnrbU4+nPFmuSaTg/s1d9uYLVpsNiVakJuHG/gFJ17JuGxKVI63gy08e8uD2HS6rc9JsEiVbX9GQ/17LLYQgSMV8awfbrui7mmEYOLhxj+TviB8VQuTMt3Z48fwpUjimqWSFRQaPdyNS5WRGkCuFfvb8eaQHKINKDYNO8d4wtC1BCKpNRVHEAisxCSbLQAiaqmboevbv3mbr3gNWy2POP/kxnz8/x3kVhYFakRqNxyGDZG86xwjBPC/w/RhtNA6Cs1fz6IEkMQil4rpSKjxg7QCMSOHY390mTzXtzpyT52ecnZzT9ePXNOWsSJAy0pgnWUHb9UhdkumUfHsXheD+fc2Xjx7x0oPbUfJsNIlWZObK6CAkQkoyI/CbNdMkRXsHoyfRisE5EqEJwjMieHxRcrGueenmAU3vmZpIpNw0FV2wLKZzfvWf/DanR6f87//Tv+aD3/o23/zmL/MVAuU/P2CJlftYn+GDxXtBmmRfvRJ/06sHGJ2jHzuWqyVJOuPenbt4YTg9P7/ysXe0WPTlZoXwEIRGZSk2LwghQXQOk2m00aRaoqRHETDTCUNZM1pLMknZfvASOk3pv3jCi0eP+N5ffsSd+7dByisIrSC4iObu7cg0KRABynXJ9Zs3oxPVRv+49JZx6DBZ8bUM149ROTtYsMPI2FbYvsZ1HakW5FqjXaAbe6pmoCk9SWYoMo1QNV4p5ruHJPkE4Rx90/H0i8esTk7YmUyQaYK9aguNFpgr8YMQgdTIr4ugVGXMi4zrOymDdZR2ZF13hBDYnU54/uIFQsDbd+8xOIeQiqq3BCQ379xFT3J+5Zd/jbar+dFPfkhVlUzmu3xl2P/7vXa4skRhHYPtmU0XDONI37VX49K/GcoEPKvLC7p2QCE5OTlh1RyRzfd5+ZW3kEKyWW84uniBHm0co1oB2GgiSJSK4noidzuiJT3DMJLubLN+cYIlcPjqq+jtHbrNBZ//+C/54+99H0xK1zWcETg5OwMiHtoVgqBgGFuUhmaIBEizmF7tkAXOQ2KyaJYPHjteKU8FCGNQWUpXrWAcUS4wlg3K/g0iIzMq0ivE1ehEg/OSsuxBrOjKDe2m4smnP+Ott14nnRaM3hP8FUhQKXQSUaRSQJ6kEKK0WODp+x6tJdd3t7mXZkip6L2najvS27d48uQ5m+2al/f36K2l6zoSIdAm49XX3iCEkcNbB7ynv0Voa0Jwf3fn/XcPdSDQNBX14HFjjQSG5RnbO9fIivnXwMOhKZHOsre9i9zZx/Kci+qUk6MXWI7ZWuxw4/p1bt26iT7tBrYmM2SSMkpJz4gUKQrwQkfVCAqCYAieMJlSjz1ewuLGbVQ+Yf3sER//9HMmecr27h7pfItzqzjuopIkV4IiS7Bdz2J3B6UVfrDUVc0kTclyg+sbwjhFIq8MARYloyw6BI+UGqsEwTts39E3HX50XzNYTZD4K1F1Pzj6foguFGUpuo7QV6hoW+Gdt95AGgXOIUKUKvvgEUqi9JXmG01iAnme4J0j19HEsCkruq4jTRMmecFkWrA9SdifFexPCoSNBj6TpBijcSNsb21zdnrK2NdoLTl5ccxnP/4R/81/9y/JZzv/wAg1HvVts2S+NcfjUdJyfnaEo+UnH/451w7uMckTgrcMfUfbd7RdPHHs2HG4M0NsekanSLXg7OSIpUrQ52ct25OtmDWCR3pBQSQNSCXQuSBVgeBGVAA5MzgBm7phf3cPnRqOXjxjaFry6RSvMor5HH/Z04wjeRZ7b21AGIl0UaWilY5ODgGj9zB09NUSPcnRenbl9iC2b97T9y2ualFeYJSh9RuyDIbGY63HeoEKAi8F3loQgpOLFYdJgVGCPDEkOrmCZAT6qsJ2PdlsBhChQqNFuUCQYJQkDRKjQMiM7Vl+BZ2P7JRxGKlp47e8HUhSTSY188WMLEuZzOfs7m5x3Na8ePSI/+Ff/SuW56e8+e77CCN47+e/wfryBdoYTDr9m+INgQ+O5fkz1hePcS6ws3Mj1inBU7UDJ8cr+tJxuLNDwCISRV1XzKZTbPAU64z5zCCURWQF33jrTdwY+NmnX6KlM3SlxYucyWJOX20IEtZDTZobjAJFtLwIDVmm4tSobZBJVFpenC0xqaGToFPNdLFArs9QIqCTDGcHsqsrog+BCYJJmjKuS8ZJjjJTDKBkXPv5EJBGoYWIs2bvIp14MafxA11ZElw8AYz0KBNdnLYVDMStUTP22EGwNbQcXD/AdTUSQV+W2KZjaNuIx9hsKLZmMY1ASAQBJUQ0WqAwBIRRzCYTlIiixiu4YWTWpGk0OipFkuVk2pAYjUkVhzs7XByf4UJg78YBv/Nf/XO6cmR7b8rN+9chjLTVKednz1nsXCeEEWdb1penVOsNKjiCcjx99im7+9fxIeXs4oKTizWF2eJoeUFeGDKZ0Q8jq8s1L91/Ga55ytWa1AR+/dd/lcV8DsDdOzfR3/ntX+Da4pBuNFwsz6k2HYE4tcqSBCUCiQRhUibBYxYzTg62qZuOru2woyOZzPAuMIwtoSwZqoa+H0kSjfADaZ6SXUU7aGPw1qEiN4Sx6zF5gpMai8e4uCoM3kd70RWhNpGRsuCGkaaMEt149IOzAtuPcQGBZ12XbIae/b05i62MxeF1hrYFb9HFBO88Y99Rnp7jh4auKtECxr5n7HrElYdMOsHEpPir49lc/T2CaFbw8opLl2WkqUFnKS9EYscAACAASURBVEWaxTCeTHPr8JCPHn7G9Tu3eOfnv8VkPqOtLzm8eQPrPROpEc4xNCXnLmBUT1Oek2UzrB2oO0czlqgg6AfP6OIpsDWf0nUdSgpSqxi6nqZp8AQuNyuaOnr39mdbLObzSIQSnukkRT/8+Kdc5M/orGHdd4yRyIqRSQybERGDr6+sMnmWsX2wz9lnT/FGokzK4f2XeXl5SjrfJltMefjkBGs9aaLRwpJIQ56n5HlK23ccbO+TXPHFonszGgBCADuOtO2GTOQYPcF7EIT4oFcrus2GYagJ1uLagaEdGS3UnaOyI5dDz2VbszOd8er9m2idMqKZ3rgT9+J9z9BUJEZx6/W3OXn8KZvnz+ibFueixz0xEewvEBRGMopoFJxMpgQXOW7eOYzWpCZ+o7XRpImJhssQXTGJsYjgOD5+ihaK09MzHrz6Glu712i7S0ZrGa2jaXvK5YoQLG2zQsolWip6Z5EykKSR05YlKalKyecT3BCQAurO4+uRYQAjZPz7XBSCKj9SlysmswUCSdN06KpakUtD47IofshyRqdoO0eaK2QW9dfOCxQaJXNmO/t8sfmEph9QRcHs4Bo3HryCJ5BNCopliz16jhtH8qmOFAcV8G7AOUfX98yzmHpgRwc+bo2s9RgE49CjtMSaSFsY+4F6dUmzXtOu1ri2p28HbNfT25G28Vw2A+XQ0vUDs8TwrQ9+DiVqzk5e8Oiv/oLF3g4WGJqSzcUS3w9s7x+wd+MWydY2bd3hfOTASBmvEtt7hJZsTXK6ukZtb9MMDp1kKPWV0THqWo02ETPjPDrNIl9VS6aTSUSN2JG33v+AB6+9FZWu/hbl6ojV8oh+bCjLJeNYU5gcPzp8KrFjRzGZMHoLjPRNyTTLGIYrz50xCGcw+ZyVPWeSZ8gr5XEQ0LcbfvKTH3L33uvUbc/jJ8do6RVeR1pfH1GfaBzWQd0OqHB1jNkWFRx5pkinM5yznB8fc/ToM67dusNkb5++WrM8O0fqhKqq8cLjrMDRgE1IjETZQFAC6yzaK5RIouEgiyhrayNSa+wFdfCkWtOtSy6Pj6hXl7SXl4xNj+0d63JgvWmo6oZmHFnbkWAk77/3PvfffYf18RPWxyf87M/+lOlsRiBwUXc8Pi2xduCdV+5y++QEY1KqTYm3A+tNS1n3bKqedV0TkBRJyqruYxJCYmj7IW4Yg8CkBq10vCZ8xHjrJGX/+g2ua8XqcsWytzx47c2rh63iSSMk861D1qslITikhCSVccooNOCZZDnTImEcLAhNcPEqyXONHT3O9XRjj76yb6eRQIC1Dj86js+WWL9heWlpeovQKVpqiVAx0lB5GPqRvEiwbmRVOUTQGCEpjCRYT+sC3hQUO7uo0fHokw9xfcs8S1EqZbq9y5PPPsT5ATs6hgDGCEYgTT3SBKxzuODQWkUmazeQT3OcC1cBbiIG64yWtu+oT8/o6w1Nucb2A103sq5anp+e05Q1wVuaEXqj+da3f55v/MqvcOull1FGYtuKn13+J8qmYbSBj44uOKlbtFKUH/6Md+qW/fmMoRupm5bTizXLTUndDzghyPMM5wKDcywvlzy4d4dQVoyDI1Ga2WwWV7xXytxYV0R+y9n5mq2D67z5+qtcu3MXJfXf7bKFwWOu9PsWLSUjA1pZUh1Vr8PQxy5h+zpl01JuShg9/dihZUpidFTTDB3VxQmJmtCN3RXNCqzTXL91i+OjM5ZVhxYqTpUSBYkylB20Xc8QQDtBN3hSQ+SiIMFpWp/isglbW9sgPc8ffcq5kkwmE0adcrauaFvP2FuKhQYR78LCSPq2pS437M2ntLajSBW5yaLlWFpcaL4WRYi2ZWwqgoi+dOEiKntddxydLbm4XMc0hSAYtOS9X/k27//ad7j90qtUTUuWL5hdv8u9d3qaoWccFN+53VPMJmwfHBK05LOPPub85JxqXVJVNeu2p+pH+tFGZYtS1E1HU9eU6xRrHTtbW7RNpCsbJcjyHJ0kDNbStR1NWfHJX/2Y5abm3i98wLsfvM9sMY0P+sowGD8OZ0fG4PHWkWcZKgOT5DjnMVqxtbXLvZffxyTTSFpenXHy4inPjp8jZAKjQ0hPx8BxecrrN9/m+NEpTVchdcZoBz755CH7+ze4fWsf7Tzgo7tCiiTunEdHkmfs78xZFAlZsFyePsYLgwiWTGkWBzf56ec/ZW97xt1bN1lfnLNpWlwmKLueZVkzz2MrN3QerQXCxfs6VRENphIT7yERcM4hxgG8oa8bxmEgzyIMQAjwEvq+pWl6Lsqa5WUZtXxaE9KC937p5/nGt7/NfGuby7NjqnJDU9b040CbTFDphJMvnlCu12wP26zLhsnuNtvXr9E5aJqBla0pR4soMs6OSvp+YNp07MwmKB1ribPzJYe7O8wmE7SJkRRSqUilGEe6tma9qRmGkdOy4bfffJP18oL9GxuSbPZ1cYoI2KFmtbq8KkwFWZKhBKig6WgilHf3NsbMIETUyWKxz+nZiqGHVHmUjCNrI1IOdm4z9J733/sFfvzTD1mXG4xOkEHw+PFjbt24h/ZO4UaBDYFmHLFWcPNgh2IyZbNasrqoSLVkIgKDg6ACowtMDq/z9NOP+PEf/xkP7t/m5977Fn3bcnS2QipD3zZYbajXI4nRCKHJs4y+l9RNT1m3eCBNUpSK6o0QAvVmw1AJEqnJ9SROz0K01EgkVd1xWXWMzpMkCb0SfOOD9/nGN79JXa0I1vKD73+fLM84P73g2vUbnJ+dUzU1ZV1TNh0/eviUndkUkyZkecF0OqW0jlprKmE4P9ugpnOM2DDNEnIl0DrDO09ZVkzTnNSkpJlCiAjzs97Rti12HCPGuo7pw4vFDiqHYViRjgYpF9HOZCvq1RnCO4zSzOYzRAp5MqEfuyuLE5hkerVCjatlISFNMxKTMs8LNnXJxfICj6e3A41ouVwtkcowzafUA7Rjz2hHxr5DdzYuyp0sqGtBkmqOzk/Rl0sSqVHC0A4dSie0LmAHSd0MEDRmskBPCn704Sd8+ugxewd7TOY7vHj2lFQFdiYZSjiKdMo4tPSjZBARFLReb5gUBU0f/V9T5XHdVfWpNGNn6ZoWZSLee3QwBonTKVU/ILOM6eEedw8OsN7z7//9/0mSTzhZbajKhpfvHjKdzjlbLtlsNlc684GL43OU1jy9uGR3e4dmKDlfLlFJgrXRrTpznrOyRAWFynKUiiG443D1j7Mj4zDgXYYi9u/9GH82dD3eOupuwE5y9g4P2LRLTo5O2WxKsmlGkeirtMQBSSBPNI2LGz4fHGlhsK0lTwrsUBHCLqAjhtMNrDenCD0iE8dbD17l/E9OGC0ooRHAOA6EEChMQWuje1ToQD3UaBsGLC6m+piM+WKLrl0hRJxMjz5Olr7KKAtBMFpHCAqRTnBScuvuLY6fHXG6rFhdNASdoOTA1lQxzQqOLjbM5wVNN5KlE6R3bM3npFmO0kk08QnFcOVuGccuZpSl0cqYFQUmjY5I5yFLCqaLKV5Lnj15RsyuMAxNw1jVbCU5jx4+pvaePM8oZECanJPjE4yUFHlK60d88FRlExlvg0MGQehaEhlDahOTc1xWMMnZRiClpu97gvf0fYdpDUYq+r6jG/or5elAP9qY2ac1Zbmh8zWj66m6kmk3ZQ1IFRBC44SPsECnGMaAC21c2mhLZ2va8oKV0czm1xj6gZPT52xWS3COsi558vxLdnb3OD654CsosxQK8JgUpkIyyReUTRcFEFoKTDZBmj3qClbrDamOoafWOawbmOUKawV5NsF3PVmWUTc1s2u3SZKc4Ed0ktD2PfWg6K0gU3B9PydYjwiCtgOpBWZsub63Td8NtK1lZ2uBGy2bTUPZR41bZiIwv5hOSPIMkxe05Zq26yiriiRNaMeesmzZm824rCqCHGnbnmlW4MaB2bwgGUacdTRjQLuOndmMtu8ZfEApQ9220Xyn0wgGsCNVH3EaM61JjeZ043lRW1yuOJjmKBlHt+M40tQ1xijGtqfcbGKf7yOJct11/KPv/CpBDmRaMTRXPJpxjBNFIUmMRCeBvnX0naTpBoIa2FaKHkdQlsdnT9juGo5OHlNdtlR1x3rT0tYtne9Z21M265EbezcRPgJ9gogJFJ1v8Mozhpb5ZIJQBj06x9HZGd53tKPm5vaEQmqCCiRCEFAMDqSDzvYoDbbpCS6g8jlJPoNmjTaaUFaIEaQ07M41MjjaLrCzlUMXGWfeB0YHRZZhhWMYR+xgaeqaqouIa7M9ZzqbENAU811konAWnh+dUXUNdRBUQ6Bal5GV7mPIqhKSUXh0koEwTGYFe3s7dENPN/RsqoaxMSwvKwbnaduWYRipOhuBflrjfMMwBoyW2BDIigl113PSDTQBDoqCYbSY4AmjwyaKtmnoxpFm6HEEQNFbx/a1G1yWDVku8TYG9LR9j5QBIQ1SONxg8W6gG0q2ix1WQ8vlec0qnKK0phs9wiWxxbU9CMH2bkGeas43gYkp6IeBqu3IdYoOEux4BSzM6EbB/GBBWTbY0KNNtkVVjSgC+5Mdbu1MWddLLOGqYoxMssGP+CGQpJLJ9CoF2Gkme9dZfnpOmhi6pkGZgpv7E6aZZF0GFimMo8B5Q3CGRAaGdqTLUlIZs1Q2ZUmWpYybksP9LVKjovjAKOY72zR1TdeN1HXHfDrn4y+fgNAkAVprGaThpbt3uHfvLvsHBwTnmc2mlNUaAGUMOptwcXnB8dEpn376hCdPjwke+hAwLnC5qsizlO3tPco6VujLsgLrMYmkHwaMFAxB0HrBQmlCGGmrln6wtGNPN9pYuUtBUCkfP/yCfLHLriqiDGm6y3L5/CqGJOAIVDa2odPFhDw1uDaj6jokCj9opiajGWuSzBCCRTiBUh5L7F60NCgR8dlWBJQSZConSwsIin7dUrctr77+Gh9/8jN03WtWVw98sA1GdxS5oW/HGPamAt4FJsUMBHjfYVRgdztjs+mYzLd55izteo3ShlEKtoucsq04Cy1mt8AGgceROIcwKSIxqDya7S/WFX034IVgNi0IzlFXA2YyAymvIiwiEtsYQ9X2rNYVN6/fZFmdE4Jmb2eXB/ceIH3g5PFzhtFFAcIwoj0o65gtttjb22fH59yd7ZDvW/qt2G9XznJSCnoveXpxSVltImyXQIagkLFVxBguqw3TRHC9OGAYLYMdaYeB3o1ESC04HwhCYJRiMd+ia4cYeTVWJFkM9/XeE6xlGAe0SAi9oxY1MlEob5ixoO0tWZIxyVKasYuZZCR4F80LRTGlLSs8ntGPZCJDq1jcDdaxaUbWXY9JGj77/GOcd+i6nmB0jvACk8QqUSNwUka4TZqys7vNdjHn9OQFl+ueuvdxXy46kkmBKeYcH5+T5zOG0dK1A6ksOL1cU+QpbvQReZUY7FUwqwwSIQy4mINS1T2LIkWbjKbrWW02FNsLgvP0bUe5WuFGx6pp0EnCxWrFEALTWca0mPPo4RPquo8o8BBwIZDlGbvzBVvTObrY4uY773EQPOd/8PtMm5rDPKPvBrq6YisxrOqO41VHS4yb8sIx9iMXTYf1MPeQpAndVXCPu6IwxtxUhb0icI0+0PoRKQL9ELhYr9ktBELlHFzfIS9meNexKtdxqmgdRhmyNKfu1rHKVtBbS71Z0vQZx6s1e9s504lCBcG7736TO7ff4PjkKf/2f/tfsCLQ9C27OzOGrsNhccohjaTIc7QSjANoQYIWY1RVEEd8SowYlXD/5m1uvvyALE05fvoUhEUqQVn3DDal60fMZMp074CLz75gJyvQdGx6x1R59qZTfNB0Q00+yRm8JU8MJkvJsxw7jKRJQrEoqOqSum5QWjOGgHIWO46MY2xdRmuxbqQaBpTSSKMoRESLffjwC07XJUIJsjRhU5VMZ1NmRcGPvnzMb/7j3+Rbv/4bPHjvfaSUBGP4v/7n/5HPP/8SExxBakY/osaRa0WGMZLVaOO0yweC1nRC0DkQZUOupzTjSCINEN0kPoBI4lSxGke8MCxrzUfPnoFpKfIJN7fvcf3Wm2iV0HVLLsufYL2FoPGiAzdQh4r10DP2nvNNzzC2HO7NuMoGiIQN6bl751WkVFy/dodX77/G4xdPkEpitCTf26KzHcZ58ipw//ZNvvjyS+qmRQY3IolJB13fk6cJxgim00gXfPT5M/7qB3/Noy8e0jUNXVUhw0hmBIkWCJNSHB6SFxNmaYYkaswQkmk+ZewGZkWB9yNCSUyWIIyitwM6SWInYEesHfE+WmYbO7LYnsQ7smmw3l+Z7GHV9BhtMFJye3+X9197kyenpwTX8fZr93nt9g1eurbPP//ND/jFn3uDySTh7bff5va9u6TFhHw24+6br/Fr/+V3uf3Nt9l++SY28TR9fxV278mFZpIkZEqyO5+Si8As0UDACkE9epZ1Q+8iuViqWPAprZAq+sHTYoaZb7Oqai6rhrIbuHHzAVrnIBKyfA+dFqyaS/puIFMJDk/btzS2ZgwDWkJiDAQJQSKkJhEa5wdOz58RcKzLFc9Pj/A+/h+FkXjpsQ7KTcfluuWLJ8e89OpbX625HSFYkCqGkyJo6ppUTXj27DHLDkQYwTcYGRN8hXYMY2BrNuWyb1BJxr1b12AYsEkWBfPphNE7UqPhiupvigisS4qMITgkjq5vr/jlDpVoghDM89gmrZcb9g9bfIB1U7MeHSebhtuHB4jQcn13l1duXmNvNuX5xQk//PFP0R56NyLShN47hqD4g+/9MX/xox/zW9/9LtcODrGbc5QM7N26xcHeAy5PL1hXAx998pCmqulOlkyEwmuFVIFEa5KrM7AeLIk2CCnoxy7GSxIRmfiAF1D3PUkmcX3D/vY9BlGBkNFBKyIgOATJ2WbJUXvKjlbMQhbVvSJnmksmaUZykNHW0RLchx4dFGkmsY3iz/7ijyDknJ0vadoeT1S79nagyFOaZmCzHllXPd36OU1v+ca730T9yq//0/9eibiWc05QtS1N3zDLUnAD/Qjej2ihok9AQd06+lGSGhhVwuZyzfLJl7Rt9XWedgxMv5IpXylDh9EzWBDSYFITtWHjGAncMmIugw/MJlOGukUJzd7BHqvlkqcvzvirT78gzTIEjolJuX/rNrevH3J9e4uffPaYqo0vT5pm1E3Har1hXFd8/LNPuFzXVMsXHD38IXZzypNPfsDq4oS+Lumt43y14bXXX+flV+6TTQvOy4qmGxFE1quSgNQRulMU7E0LvLcEKRi9JQiBlIpmHDhrBtLtaxy8/vNs2p5uKLl/sIPGs7W9hxeeTXXGT7/8ISebI9Zly3a2T5oZggz0rkMniiItsEMgVTlJaqKgJE04PasZBofwmrqNLbIgxmFV9SUEKKsekLhgaesaJcD2oDMTj0cvBEoF7AA2BIyUBD9gpGL0keYniSs35QPSdpxcrHlyvOb4+CTOfaWAIDACEiNp2w4hclKtSL6iCfuYPjTalHEccM4S3Mgsv5qbi8B6vUZ7z407d6najqb3/OzZC8YAizwBCdeuH1JMc9Is5e07d/nuL33A//r//UdAMQwDddfivSdTBqkE25MUVZ5QpAlTkZDO4Z27U0Sa86//7Z/w69/9XW7ev8fDD39IQckvvf8m3/vzv6a+Mjkk6YSu7cgmMwbvUSbFupiegFBIrQjO04wBGxT71w95484cU0gSM2FrYrg4f8LQbxATw9HFCWfVOZ0dMCZle/+ATCcsj39GWZUxdMgk6OCjoEFLRjuwaSsuNy1prkiMpPOWICxKCLIkclaToEjQWC1Z5CkMJVIGTi+O0SJEqa4UcWNm8hmLYhpT7sYBYRIEMuq0tGAYe8ax5aOffcpZ5amqJcK3XNYVMyPwkSvDeBUM3w0D3mu8gOmsoOkH6rphOp1SNy1pZmL7pSLaSkmQRpNlBSJJqaqSh1885sXFGmkURoaIu8o0d16+z/6D26yPTvnOu+8gAvyb//dP4vHmo9Cw9Y5Upwz1mu2sQIeBanWJ95FM+NFPnqATzfX7r/GzD/+ch3/6h+wfbPHk6AX/4r/+Z/zlD3/I+eklx8uGTetI8ikBj0oSXK/iS6oUHoHzI+tuoPcwmS/YmSpm21kMtJeeobOs1meszhuOLi4IeqAgBaUpu5LX33ifzi4xeIz2aKnJ84RiFm3Vm3qD7wdGNzI0HeWmivxXDZMkR3pBpgyGlNxIRqewIk49jRTcOLiOPr5Ys7dYXPmcFYns0KFHC4NJUlof0wNcgFEoFBNa11KGlJPnH3L+9CHFdEIhIDeG87Kk93Ftt7OzGzc3InLgurYjK3Jm85zR9vjgEBjSLKN3A9bFKdWqbrHeU5yccLI856MvHtP3AwfzGVLGDBItDbPtBVs3DkgnBd7Br73zNovpnH/zvT/keFPFl9TDziSjrdfkyV3ariNZX5IVhtWy4S9/9Ijrr79PX5X84I//A7/znVf4+OE5v/O73+Xy7Cnf/fZtrL/J55+f8+Ks4rJxUZHS95hExYhHEff0Vec5W10y2TmkdwlnS0dLDbLlYDbHC8m6vWTdNWSJobU9moyqho8+/5L3X/s229kupIGqu6RTMS99KzHsHx4yqTLaJ11MbjApXgaMtkgpKFITlbYmSrSmOqdqLd3YxRdiskVZbdD5dJ/ZbIa3lqEvyZOBIrUYBE4ljP2IMXENWPeWvhV88uSUph85+fJj1usN5+cnvPngDn3XkSjN/8/TezRblqXnec+y2x1zbZqqLJNd3dXVHiCaUiMgBAWEIBImCEEMMQKaaqC/kb9Cv0BzcY6QAgMCAQgkRTTQrtDVXV2V7vrjtltWg3XQ84zIe87Ze5nve7/niSmgpMJPE2frdelCVVWR4MUAwJvrO1Zty+QCMXqatsLFwDjOdK3FKMX1/R1//7PP2A+ex2cnqOAwTXPUKiaauoT72tM1Tz9+zjSMfPPpU/73P/xD/vYnn/KPL19ytz1gtKIfZn72+a949+KM3W7iyUXDw7hjmjxnp5dcXX/BuhZMYyA3a372k3/gX3y1ZtEklO6ov37ONz8+RwjNZtNzfb3j7npgt52Rqi7RaBcxytI0FReX7yCkxGqJoKJpVgxu5PAwEYKjspooKqzqkMljq4Z937NYnDPuy+rjEuA50is95+cXbPZbtLorI9YpkQgImZHG4InMUzyivyMkiRKCOQVCFAhVoYfZ0Q87GiuohcdSoPJ9H8mNYfQZz0xja3IWfPGwpY/w8PYL+mnEpUitW/b7geVpR1e3vH7zhqqyLBZV4ZQoSWVrpuAIIXG32bPpR8ZxZr1eYE2B57oQicmzFAbvI24ecT6zXixYGUUwkrZqsLqorGIIDLuedrWkWS9ZPr6gPwyobeZfPH+Pr5xdcj85dm7g9d0dn73eMRze8vRiyZw6xllSGUmlZq6/uOaw2/M3/99nfP37/4q3v/oJ85Mn7IRnuZo5XbUYa0kpsV7VPHtaE2Nkt5u5u5l49WaDsh1CRdrLM85PDG0nWLUVi2pF19VILVku1oiDJuHIUZKToGtbmqqmnwc+fv4+kQf6O8Xbux37jUeoHVUr+PDDr7NanNJWDdM04bJnP25RJrJatzS6Pa7CmqbSSKFp+sQ4R+72Nzy+fHYEAsRICpmQYYoVcQ6cVxVaCIILKGHJWnB/GDkMEzLBdvNQSIMxoSuo64p+GEi2YrVaIaUgRIdSAiF1qSgBbdtgTQV5YE6RQ99zelKjrSTsPd2yZvbFlWZszaJtqKwtE6ay+Ma8d6yWS6qqJs6JuZ/QtaFbrzg5PyOGxO5+A37Loq3Z7hWrLBiqjjE4Pvtyx9/90w2r9YIqKPb7Hqae9dLy8n5idondznN1P7EYHDk2RA+2dTSNRgqoOotUhm4hefSo4qOvLel7z9XVgbudp//VXyDVN8F8RD55gpvLIPiTiwt+stmirCUnQTiC60OGh80tUn2IqSumtOGwHVGVxPuZu+09Z/stWlecnZ7ycLtDO5hyi4gCMTdY1eCDI6WMMookAqaSnJ2sedgd6Kd79HunLVokljaisqCSCSMttdRM0wzeoRvLHANv7vdMKSG0xXRrQpJMs2M8vsGPTs/Y7fY0tWHsey5OH9FPgcMw8+D2PH/vHUZXVBhaC+Y5oNu6eMkqw2otkBL6YcIYyW53KCdUyt1aVhWTd1gEy8WSeXY0TUZmwbzri67CFhe6FmWmSqXEqq0ROVFpSTUr2tqiHjYcesnImr/8j5+ipaeWkvPlgtuXv4IUefN6YNEqpsmzXNd0rcHYQliuqtJvrqxGGUFXGZrWcHJi2O9ndtuZMHzK9LNf8CBq2vP3sGfv0l5esqgMThTW+ugTkxMF7t8PvHzzM6rK0M8jWlVMjAgl8cPIT3/+c5RdEKnJzMxhZHKJtq0w2tLUlmlOiFS+A7Tk/Q+e86NPX2Prju3hFvW//um/exERVKo0cYyEprX0QXO99zxMkiEorh4GDkGwODlD10tyzOyufsXDwz1CwMfvP+Pu/o6H3Q5NoSB2iwYhDf00chgHPnjyiNW6Y5gm+rGoj9uuwmp5REIL2q5CoTj0e2xtjxiqkSRKuzKnzNQf+ODDD3ny9F2sPooiQ6TvD/gpFFqSVlglC1XReZQUNKaitTWVtayWS6QuAU6fElMS3A2BzRA5zKkomnNiPzh2B8d+NzMOjuwT48Ex9DPzBN79s3E5lnqCEBgtsCbSNZquFXQ6YNwWd/M529e/xO8fOG0bctIYZWnFknW1YtkosnScrE4YdnvGfmaYI5N37N3Mw25AqhqpKx49esx2u+Vud4WLI2dna6oGpqkUuXwOtIviQm3qEx72e2pTobtGMfhATpIsKMkRHxmDJIiamBPbXeAwe3TXopsl3UlLzoLbz3/I7d1rpslz87Bh1RUK4N3dW5pKoY3k+naLrltUCGz6gfOqwmjD2aLjbt8X+qES5CRwMXLetA2GdQAAIABJREFUNvSbgDlqq4QMIEDbirv7B5rK0mnJ/RE7ebJaEKeJoR+I3jPst6hKE5InGkV9tiYvGtKuB59RIaGILKXg9GTN7XbLF3e3jM7R2BVCCoZp5n4/s5kaVp2lmiP2kKjvZ9b1nsvzBctKUdkRKSNtV7NYL+mWLciMliBNhRIJhSDq4iZp2+IIHcZ7dr+8paEiiZps1/jVis3+nMl1LNQFftLoWnJWN3gEcxY8PMykcUZrxeC3fPVrH3F3eInzHiMty+W6COSOebghDdALTruvME2umBH+pz/5sxc5gdWijNgASQqmKBmjwKfMZpoJCKxtUHWHqhvaxUnxl0xb3l6/xWrN5dmaaZroh5FhdyjWAGnwKTGPjnmamKaJ1bLjnctzlFGMY1+SNKm0YVfrmpvbnpOTJTGWcqESis1mh4/F/6m0orINKXo+/NpX0VKzv9sw9gMhRLwr5iVlNHXbYKsOL2Db99zsd7zabrjue/p5QmjFyXJNAhKJmEss6vLsnKbuuLrdcL9zHOaEi5CE5TAm7ncT2/3EYfQMvWe/H9jvD0xzqUKSLDEVu7JSmqozWCvZ73qC89Q243Z7GPZU8w69fyDtronDPX7Y0tQdA+nIPVcs6xPSXFyoMWhCjJyenlN3mq5tOV+dcna6Irii4VBS4nDMYeb65oF5ntj5BzTZInRmCiP1MS4shUAjsClxMwemIEAKptkR9wNZWpS1nDz9mA+eX3H16gtETnzw5ILPfvHFMXarcFni5wHbdGiheP7+u/gQiClxu9ny9uae9989pakb7u72VLZlngLkzPZhxFpNjhHnHTF6jNYsVwvGfuDN9Q3vPHvCHGZygpQDsysPVIxHVqxQDOPI9eaOz95cM8+erqkQQXOz2ZcZOq1otKZdLsgy4A+eze7AfigQvd3oCTmz3RyQApbGsmoMZyc1Z11FO0OjZlqbqHae+nakqivqyrJcLVidtKxWmhYQMnB6WhUsicicXxh2m8Dt7chuO5CEIh8OEB27688R3Zr7YGnWZ5iVZAHcjQ6XJEIp/umzX/H1b7zPp9ufEIMoUt3sim1KSGTShDSjtEdqhxAJ9Wd/+GcvJh9IuSw/5ExKgtFnDkHwdu8IuURkfRSlhy01VdMgbYebA2n3kkWe+ePf/g20hNd3WyZfnJ8IgTWWza7n5u6BrrWsV2tmF7GV4OR0zf3dXXGBZUUIZZgfBEZo+v0eqQqhqevaMlmaBbNznF+c8fy99+i3O1w/4OZSP1aqoKNjjFw/3PGL16/54c8+xXnHq+tbtpM7hhcC/TSy7XumeaZSohggjnNuu2li8mX+vB9GgoDJeWYf2e0nXl9vuB8dkYogDM5nvM8EfxwwmCfutwO3dwObXWR2ikzhyQQfSM6jpaCuLV1X4dzEYT/w8LDls1++5m//7sd0QfJ0ecndT37Bm7//IX57T44Bs17iAjw5v0BFgRSad955zGa7QxuDT57IXOYDk2QcI3PIqH/3J3/6wqeMSDD6wL53bIbAfhZcHxyHSOGIYQkecpIIZZG2RtmaGAVCGfB7Prpcc7Zo6SPcPDyUhwPFOEzUdYcAPnj2hLvtgb4fef/JJS/f3DDPCasbpnkm+4Q2mnHs6fcjwzDgXWC5XKG0ZJonxnlGaY2tDO+/8xSdBP54OMtHggI5MfuRz15+wU9/+QVJSZJU6LqiH3bYushXfSwaTimglgKZAlIIlBRMITC6xBwTcwwoWQyNKUVSDAghmX3mZjex2U8cXCQIjUuS/eDZH2bmwZNdIkyOw37m5mbg5n5kHCQhQIgwz0UiL5Vh1S3YDxM//uyay6cf8gd/8r/w//xff8Ev/+Fzbq+uubn5kiol2nfeZUyK+/sN7z97zhcvr8gUXRcKbGOQFoJ3uCFzOESm6FB//m///YvZBYZ5xPkIIpHRRGF5O8ykKEhCYesl4+RJUYDSZKVp2q5wWbpLsu44bG748LzBhcDVpmc/zkgB2mqu77cYm2mXHW9udmwPQ4kGzQ6tKypt2R4ORGIhRijN5u4BpQyr5ZqUMifLFmE1PkQqYwvbPCbeee+dMosWAtZYQvDsh57/94c/5OBm+tlxGCPbfuD8pCG5slr4kIlF4Fmyb1JRCUk4+l3IIGS5K4cUISdiSEcWvERJWaCGpsYFuHz/A5r1OV9cPXCYISDxwDBH9v3EMM3HCaOAGxz7g6cfE4cpM3vFvk/s9iM//3LL65sDH7xzzusf/wKxOeGieYQAFnbJ/X7D8vkzUn2Km+EwTAzOoXRGSLCd4cl7l5xdrNluZua9KIU0LOr3/9Ufvdj1HpcgZ0lwEy5G5ih5mBIpS4TQpKxBWaZpJmWF1BbbtEceSvF9bgZH//CKy1VDMgteXd8hZWa56OhazUcfvsPrV3coXWGMIOUihyEnpmN6NHhHZSzbhx3WVhhjSCmxWi+4ODkjG01d16wWHVJJzs/PkFpzfXvH61dXbA8jm/2Wf/y0jDNrbXl5c8thdKxWHVrEsow2LW4O+JAY3cwRgkhdVwTvC9mpakgItkOPNOZoEgSRE+bo/0wIqrrGNjW/96//mP/xj/+Yb3/7N1ieP+G27/ni7S39HEAW6d40uXLVCgmtBEoU57qLCRcSY5S8unf4kHn34pTXPz3w9cff4Fn3Ht0qcHJxwi4c8KsFtOd09Zr73R6fBD44Yoq0i3ImeXbyAaPXGFput3dkBHo3gYsla9aPIz/69Gd4oVmdvIvsVohc9sx0JB5IXePmiJ4S+36maQxZRWS9ZPHka/zV//3XPFkEattQtQsOuzuyGtgdBl7fPPDu5RluGujahsPkMS6wbCqsNeQ8FpSmFMQUuTxf0+9mtBJYJRjHke048tFXn3P1xefMs6cfeq4ftozDxNv9jrdv3uL9RI6OmME6Rz87jLEMw5ZVe0kQE8PhUIiFKVMrhTkKfqaUUapiciOVCKWIo0qDRApZrAVHEsQ0zai6QpD45vd+iycffoILiW614jv/8nt86wefsNtueP2rV/zypz/n81/8goVRPDI1KgnePsxUStHWBqkjk/fcHARvN453L55Rp1Nwd+wfXpPMFRv7CuolN4crFvdPWV9OnGiNRlKpGp09JgriGHhzdU1Tn7Go1tzkfelKuoz61re//2LXH3jY3vNf/svfsNnv0dWSkBUoi9Y1GUVImapqcCEX+Q0F5td2HT4UUKgWhrZd89Of/gMylSH4wzySfEFBGqPIITPNjtOTFf1YpO8P/chmP6AUtJXl0I9wnCmTKIwULE8afEo0TUe/35Wgg6l52O0Zp5F5mggpcXd/RyYz+wkfBEoqrrcHtAIrJE1dUieNqXkYS4eubss2pJWmHwZ8jKCKuXecZ6aUir8zZ2IqyA+lNFkKqspSdx3f+cHvo1eXrGpBbSUhBbSRpKS4ePKUj7/9XX7zd36b88cf8GZ74PO394TCIyPGTIgCh2YOiqvbnq9/7RMO9wf0aFAiMaZXJBXY7fekdsHZd7/HgxdEL1iuVgzzjtoYGqMRtWc3D+wPnvffecY8Ow7jnrFPKLtYvfjy9Ze8fPMrHjY3VHVHvTgjogtdSFVobQq2KxbGd06QjvYeoSVVXfLlKI3uFkzjgZ//6D9hq6pkvigi9ZxKGFFIWC0KpDbGxBQ9EsnpwtItO/bjzKKyhDlijOHddx/jhwGtNF3dEeaZRldsd7synToOWK3YHnpu7+6ZppnTdYutyu1AqcRJW9MtlixtzcmyI0vB6GaOzyrDNBGcQ0pNpLzFEglSMIf06wlP732pClISOsZWvP/hR7z71W+wXp+ybkpYeUjHfFkoCpA5ZnyKnJw95vnXP+LDb32XtHjE7Zi5P4zMkyenyLJrWbQtcxTYFJEyUjcKWScO0fOQZp587RuE0/cYvWEOieVixex7RM6crDqy6fExMI8RgeTdp+8yhB2jO6C+8d3fe9EuThlnz35zj9Qa25xg6zXGLEhCkzIEF8hZIoUucZqcy5IoFV2r0SkhVHkglstT3nz5S96+eUnTLbHGkOaZlMpeZbTGHSF3i67CGkPbaN57cs7D5sA4jbxzfoofJ+qmpqo0++0Wow3aCIbe0dUVrbWIWHygdd3yT6++RMtM12iWXcswTmSl6Kzg4vyE69sNj9entJVlc5ioK1guLIcpMLuAkIrROQ7jWDCeujjIXSpkRXeMQCsp0KK4vZVUGNvx0bd+g/OLC5Z1xhhJ0BmtMyFkDi6Uok0s5iQIZGXQyzXLx8/44Jvf4uvf/12E7Xh5dce2d3z55pqz9QmRiF1qbqctD7Pn5KvPOfnkO9zOhtlnYo7kOHN6viqQAC2wC09ImXEspoVH5xesloZpPqDrkwu0qjnVNQ+317h54nDYYJuzolMJBaouEMWoawwBgYgFhZl9JPvAupH4EJmERvGYb/zm7/HXd2+4urpm1bVYAlp5lDSElMoP0bbUreHh7T1PL0+4udmQhGDVLri6usEITfSJt1f3ZcrSO0gVUhTd1pld4HLDw2GHynCxXLDZ3TP1EXNiCWlLU9VYLUteHZhDJDnFF29vOT1bUFWw2R1Allk6H1MR7PnAbDxaCGprOYzzkfOekUIhiFht+OD5x4wxIUUmp0KWwlTIFIDE7AQ+quIa0uCDK3SrmNEiUZkKbRXPPv4uj5495+yrH5MHx/7+jruXLyHMmNWatf6A5+++g2hbvFyR+x0qZYIM7OYdZ2LN5BPX2y15qZAIRIq48cAXX/6S73zjW5yfbFG/+bt/+kKaJco27DZ3zMMOhMRWLaZek8Uxi5ZzaVSoihCL8lBQeOZKaS5XmtE7GlMRYmZx+ogwDYy7G7bbzVHVWKhQUhYiUX/Yk5IgJIg+0DYtwzgWBaVQtFVDCpEkShS4ri2CRGUNOgeq2tDWhbq8nSdCiEgFzx4/YrPfMofI6rQjhcBDX3yoRpe56Td3txyGicvLM754eYOLZZ8OofxoVpUD2uF4NpCCIqLJmdooVAooXbO+fMr7X/8W6/Mn1FUZ+6nrit6N+BzYTx6OjLp4xItmWbJ9McPd3pOloTs7Z+gnhmEgC83y7ISTZ89YvvcBz7/3m1w7T2xrpgSHwePniJYaHwPaWmJInJ6dM4dig85iJnuHzOW7zdnw9NET1Pd++09eCGkAiw8zh801kgzCYOol2rYlKqQ03jmkFAgpOUbGCtNcay5Wx+F4AUYJIor12WOy67m/u2KceipbI0Xhg2qlqbpVoTgEDymUDhWK9aKDnOiqGucLoL/paoTMNNZQaUmKE+2ixsjMYRq52/ekDMtlh5aJq+0tylRIVQ5Y85ywUrNqOu4OB7TWtIuGttZcPxzQUhNDxEWPURqRIjknZu+RCIL3DONEOmqijRTI7oy9hy9eXvP5Z7/gzZsrDi5wd3/g9c0dV3cbvnyzpz8k9nvHw3ZfBhpjkfjNIXG/n0lITk9OaCuNcTOkEhS5P8xcDxMbH1mvHjHPDu8SVhqkBGUE/eiIqeDTbNVx/7Cl7x1EWcKNWZMiICJPz99FT+OMsZqcJU13wmL1iP32GtFvcdMBXa2o67qE3AE39VSNAmkKFDeUqHE/KtatZuPKyGprJfnknKef/IDkHT/64V/RDyM0FshkUaY9lUwIC13VUtUNEujamvuhZzsciDHQas3+Ycfl4zWHQ0+1XlB3Ams1m93IzXaDUJoUIykbhujoljX73hG9ZA6ZyU3YbKmsRc2OaY5UMuOjLYlbLUBYfAqk4Mha42Ig5lTmv4xBkZHRlwE+qQnS4KeBfpi5vc3sxpHDlI6g4IC1mqouLWIfE2RHwrPoOozwpKzJpuH00Tss6prvfPwVVt2K7TgUDEuStN0Z95s9zaMTpgliVGgrEFlRGNQAnn4aybc3LBYnbLd3xJjRQiGyLNqreeLl1aeob33/37xICRCaGAJu7hmGA9HPSF1hbIdU5QMqVahLUpcce2n/JoSUGKs4X1jmUH7MHB1SaWS9QCEwEm6uXpJJVJUtb7vSSCDHGUlCK0lXN6XLljLKaoy2WGOIsYzijkPPk8crTk8XvHz9wOgyv7y6ZZwciMxyWdN2lsNhj9EtTdPw5nqDqRpqXbFadpwu1/zi6gprazbbPSFltAbnfOmtp3ycFYtARkpV2os5UCmJNDVSGaJeQLbYaoG1tgQj6iUpC2IIBTFua9puUXrmIROdw42R/X5it91x2Nxx++olV6/f8vb1TRHgZHE0PSaudzPLdkltK6a+JybQOhMDhETJzstMjMUQfbZ8xDgcSmRNJypZoYUmy4CTE+o7/+2/eeFDxvmCqkgZpnFPTu6oVloUhzbx12DaFAPKGPKRO5ozSKu4XNbkHElCgJRoUoHNmwY/7klx5uHhvtCMpMTWC6Z5olYl071oW7QupUw/j8cvWzMHBznSth3JHXj/2WNu7/cgDVcPW97cbrg4P8HN5QrTTwMhaTYPQ0GCBslq0XHadGQik5+JKTFPgW3fE1Pkw/eeElx582OMuOCAXIyJR4xGorBVlZJEpcG0HIYR5wNaGxIJa6sC2VeCaRoZhz1SlOvb7CbcXE7Q5Q4OIiVy9rih5+7mmp/9/DNurm/xIZGk4WF0rNoGN0807ZKru3uETKRUhPbTnMgiQU6ILIlzZt2d4qYdpyuNSA3OS3aT42E7oj75jd9/gTTMbmaa57JXzwPztCP4GWMbTLUoPV1rEDlhrSaRkaogOZSELCTLztJWGhcyUmncHKiMJapSrSJ5tEjc3FyRciBnGPoDrTUgIAbH5cUFNzeFwyJFycN759FaU9WSRWvLGSIlYg7sxwElLY3VnK8WxJy42vTMU0SpiuViQUqwqCuaqiJkye3mgfOzE64eNmzHkdNlUWbsDvPxhy2PdlnBBJmSIokuIGNhpzlhyXqB9wWqZ2xF0y2Pq5Y88moN8zgxjIXf2jVd8aHnciAECeJIdSKRcjEfDn3P/d0dX375JduHW7RyIOH88imbux3WFnZqyJlx9GRxPEBTgh/np4+Z5x22duz7wORh8pH96FHf/K0/eAGGcRoJKaOkISfPPA2I5EkiUdUdVbs48tgziIw2Fq0UkmKmjzlTVZZ1q5h9mWJBKqL3VFaRVENKksYWId39wwMhZlwYkQRqXZohMQTmuagdp2ksgjghsLZCBIdWGR9TUTIj2O178rENm5HMLnG/d+z3M5UujZYUJZvDnvXpki9fXZebB4ltX07g0zwTQ2KaJ2xlCdEhKLC9GMsbnymfESlIpsGJitm7AjVUhqZbIijOtZQ91lbU1QJkmYSJ3mGtpV2cHDt6kpQgI9FKobVBqvI5YoIQM1Yqkg+8efklV29ec356gZsVSI0LEZ8jkw+QFW13hq1bpqmnrRclC6hGcrJIFC4GPBH17R/80Qujq+MfNhOPHSfnZmIcyc6jbV2uadpgtETKUviXUpVhOlkKMBnJk7UmoMhJoI1idjMq5XItMxXTcKBtCnJ6GvaQAn4ai37CGOZpxEhZql/DWPbSGBAIFkZSK8vN3QFlBD7A7cM9u93Ebn9A62LnG31kPEw0dcs4e7b9yGEcEQqcD6WaljPDNHOYJpCwbmtcDKWSmDlqMEpzpOyrRRAXM2Rb4xPkVLY4azRaavLxPQsxlYdGaXTVIIXCzSMhzDRNi60bhBBIJfE+knM56CpZNNaFImGOgxmCuu6Yx5Gf/+RH7PcHTNvhcpkfB0g5E0Lg2QfP2dzdk1Km69ZsDjfECMvlI2Y/4EVAff/3/v0LHzPa1IxDf9Q/yHLvnHv8NJAR2LrBGF1EsEIQ/Yw2psjGjwebnKFrLNYoMgopS92yqCMUWUq0MbhpYL1aEIPHTQM5RWprcNOEEBkhJE1bMfYjFxfnTNNIjIm6NtzfPgCCcei5uj8gpWa/7ckJpnFidxgQ0pKVYZ48znmGeWa72+NjYnfoMbriYbsnKcnDbs88FXZKf0RwxxCPbDRFoNyZhZREIRimkWEq+7AxFiWPb6gs25wPnuhmpuHAOE5kUdRZSimcm/DRUzUrhK6wVVMeEF8etERpxwqhEEqXB4NyvmqbBcZUzOOefrsjupm27RBKkIlEEVl0p7hxYppGKttwv79nDpE5Rk6Wa6bgUb/1P/z5C9O0HDZbgnekmEgxY7TBuwHv9xBnhBSYyhZMpzZoKQs7RWvIpZiSEmhjOOsUgy9MdKU0QRtkyigiUdgSz+13rFYrDv2BmDzTOLDuWpSSOF80ijklKlsxzzNVVXF1c4c1FbtDmZ7sJ89hdEgjSm87JPppZrk64XA48OTxI+ZpxMfI4AL73YCxFW/u79iNE/cPD8SU8MEzuvJji+Nwv9SaiMTHTMgZl8qyPrmAS6VkiZAIIamrCq2Po8CUA2tMkLJh8pRy7QzOe1y/IYZA0ywJPqO0JoRAiLHs7ZQcv6A0b6yuyCGCKNVOKQTeOeZxoN/vWZ2dkaQuNsL9AZnLfF8MgZQzMQkmN9HYBf00oX733/5vL0zVknNm6PtyOKGkL5QANw2kMJc+dVVhqprKKIxWxOAxdY0QZfrUmAofAhfrlhgiSVZUViF0VUZrQ0TkCMYQ5wmRI3XTcthuGA47Zl/oDkPfI2LGuVQwXfpYTdvuqKzFpYQHfAoopUs8Syg2h0Op2gmB1QbvfNkmnMPFguYYponReWJIDP1IzBS68dG6sGhqYhZl8iVH9uNMFIKYizzWx1Q6hcfhy6quUabU1IWUSGVIWZB0g5cNDkWUmiTrsuS7gWF/T5hnqmaBTwKtzHF7EKQUSCGToiAkj/MT8ij2CyHSNB05FROzIDE7R7NeHW9LicZ2JWKVfJlDF5mUBfPo8NGhvv+v//yFqRtAFmD7PJUnI0aaypKzw489pEgm0nbLI0TeIEXGVBVCatJRMu+TpKsNbQ1TyFRWI60lHmfE4ziUqRQk02GHsYqqsriYuNts8MEjcyTHwk8pVbKJ2blyshXlYNMPAzElUJJxmqi0KYahacKFiDW2dIycY3Qzh6GMD4dUxDkpxgLkj8XfnbNAHa2ILlEOchl8KqfojMDHjFKW4BNKGqytqOoKXTWQI1oXsjFSoU1NwpCDJ8dAiMerWPLlduIdye3RQpVtURTdiBQCKctvMY3+ONtniq/sWOJWymC1gTDzq0//AYisL56ASIiQjytFJMt8rIeWMW4AnePxy2kCTbfg8LBFqYQMCaTCVC1V3ZLcxLh/YFqd0OkzfJyoVE2YBlRdlrYYHdpWbPYTJ4sFcha4uVToVMoEX96Oqe9LLV5I5v2e1fqMFAObzTWz6zFCUmtNDhEXPDJnXOgRovBlFl2Dmxyr5YrD/kCSMMZAjhliqYdfbe5LRIkizAvBY2xVBuOniEiirGYxkbMs1yIBu8PheChLRyeoIESPlKrwS7sVMd7TtEu0kmhlUdLg54GcRhAZISzJJ7JeISglZ62L5sOnGeU9MWY2DxvG3QNVe8Lq4l2apgVRM447BB4pIyFmYpKApaoqQpgRlP0+JDBC8MU//JDzR89oTi+JFMGPEoogAmSJzKWOr0RGfef7f/BC1eVH7bd75uEApCImj6Hsof0WsieTCPNAW3WFEWbs8YQuywfL/5z/Epwta5SG0UHyM8OuBz8R/MzVqy948/lPePvlp7x+9XOqquL84oLD5oamqTgMI5cnp6BAaENWJYDhfaR3rvjFpSYca9IhJobZMU5jKT6kiNWa0YVyBZKS0fnjHuzKwSxTGhnkEtAnEjL4VCqIWQhAE0NiDkXpLKVhtT7DzRNVXZGlPv67wksTUiGVLnd4pUAoojCIXJAgmYgMB1SaEaJky4Pfk8LEfnePC4l1V0OGeewxShNyRuoCPlCiTNkoVWgcIYzc3b5lHHsMChES+7t7jFEoWxcqYy5lWI4HQvW1b//Oi5OLS2yzIJHoD3tycGRR/kgpKG0/IlpLpvFAjJHFsiv5dWNQtkKoop9MPuJ8RFnDspYE55gHhxWJh6tX/PQf/47PP/sh93dfMOwfmMcdD5t7nj57n5wzq7aGnHi0XrFoG2JICGOYY6SfHW3T0tQ1yOJR68eZ+bi3xgwhwxwj1taMs6euDCllphBJIRFDxsdwvEJljDHEFJFHG6BHkEUpiIRc3qKcoWsXLJYnnJw9YppGvHfYunwHUCTypZAikEqXa5eoSMqQlEXgUWHAhAMijuWForRUjdSgag5jZhy2rJYdc8iIXFI4MSnqui0TOlkcVxtF8BNXb79ESUnXLLFSk6aBfrNBW4M+akNFFsfMnkB99Mn3X0jbcXJ+iTIGEPTb3a8PAcF7jDU471AiYRWMw56qske/hj3CasqdVQhJ8I79dsvTR6doCfv9gZ/9+D/xH//yP/Dmi39kt7nGzWM5VMRc6vfTxHsffkQ/jsjsMSmxNJbLkzXLusEIWcaGFy2VsTjnaeqaLAQpS1C67IVaIY0p4UhKd22aCjyvOLozLsRymBZlr4RUBPVSAgqtbZmMTQmEom0WnF084cm775MoA4/bh3vadkE8FoakULRN9+siUY4JjoUYKQu5wmRPXZWVIYQRlQM5BcgBUbVQrXBOknKgWjxhng8YldHGYG2H1Kb8f1KSkYz9lpvrl1SmAjQ+CZKQWCHp+x2m60rBqnTHy4P59J2vvmhXFzTLE3RVYa3l0O+Ifi5lxVhmkiY3o2Smkpk0T0RS2XNy6TFXVXOkQJXwwDTNGCtxLvA3f/UX/P3f/QV+2BKcJ/qJFMNREi9BZFKWfP2bv8Hzjz7g1RdfYt2MyhFjFCkEuqZBS0FXl9k0ISD4SNd1pGOTo6tralvRVRWN0YUJp8xxH06FjiA4Xn1KeVMrha3rklUTElvV+BDRtgIEpmp4//nHnF88QhlDopRRp3lmHkcWyzU+TJCO0tp6iZASbSxZd9SLCxbtEmMabNORUGjbAZIcHAJJiBGiR+gF2XR4F8lCY+0SIxxSG1Td/Zon+8/bxn57y/b+DZVtEEJjTM08ztixsIMEAAAPHUlEQVTakqJnHgaaxQplS46ALFHP3n3+QuuKxdkFpm1IMeCnienQI48kAa0kIaRCHBSeRaXZ77ZYWxV7odZoa5HHq1qx9kTevn3L26srvvjFf2U+3BNCKazY42C90halDbbp+NY3PuEH3/9NQPPo4gI/DvSbu1LF0pqmaWgqQ20t7zx5xHrV0bUty7Zl1bY8vrigNobHZ+cQIsu2RcZIrQ1JCOZ5oq0sEYnUhowEVbzpUhZGS9Us8BmEsiyWa4xtuLx8wqPH7xJTIsRAt1jxzgfPObv8gF9+9iMW3RI3e5QsVcXl+pz5OFESYwDTgaio2hNQLVW9RldLlusnoEr0WeRE8BPkiGnPj3GogK2XGF2CDlIVSW+mAJZIcH//iu39W4xtS7PKtoVtI4ppWeVEv9nRNB26Kphy9ez9j14YU2PaNauLS6SWyAxTPxTJqiixnBALGF6kQFcJ3DSw22+om4YsFNpWGGPJCFIOuKMV2HvPvL9l2N4So6PrFuWNjgEpFGePn/LB8+f8z3/0r7g4XdAfDkxkHj26RObEfnNPCoFV16FNac+2TUVlNHVT0TaWuqoQqSRelSj6SjfN1FWNPjLVUopkoRhDsQ+FWPBiShvScTwJqWjaBavVKScnZyyXa07OLwkB5tkde88a0yw5f/Q+v/j0h8zTSG1rMhBjwE+OqqnheA0NyaB0TcgRYxuqqitwA6FplxckMiplYvDkOJCTQdt1SZoOG4yqyBm0rpBKE1MpyeaUeP36U9xwoKk7slToqioJ4+CP1UKFJnHYb7FNW/Rb77738QvvA4uTc9YXjxFaMfUHxsOWGAp4zvmxtAtzRORMbTKVlrx9+4q+H1itVlRVha0qtLUkxK+bK85NSJHYb64LV10X3JW1Fl21PPvom/zLH/x3fOejp0Q3c3F5wV//7X/l0dNnPHryBFvX9JsNhoQ1hYZohKS2lq6uyofPpaSptGacHMM0kWMqKw2C/tAzu8AQMlNIpekhygBBQBRIv9S8++x9Hj9+h/XJGV27omkXCKlAlsNpiIFpPNAfDixPLpmHA7u7N1TNApFT2aZCxFhbwo5KEVIiibqMLymLMg22qhE5I2197J9ntILoR5LvycdD2Twd6F1mnANa5oIrDaVXH33P9c3nRB+pal0Oz7o+lngTOZdiktQKpQRjv0M3EvXsw2+8SH5msT6nOTml7lYoKQh+Ik3jkdDo8W4uJ/foMSqzbCTeB7a7B8il3GqspWpbtNZYa5ESfBghRjb3bwhuxGhLjJ6qqlisTvn4279Ftzqlay2NyixWLX/9N/+5qC/X55w9eYfl2SlZSFKIiByorKWumyPgt8D8JBBjYhwmnHPklEkpstvvOYyOOSt2fj4Wc4rkTVtLzgrnI5cXl9iqRSqDc6motsi4KOhWZ9Rtx+31G1794me8evlPCFmBqhl295DFsVKWEEKSY2TRnpBjMRhGJEYVJoyxNUq3SG3Lj64MVXuCcw6tBMkdiG6PZIZQ4ktJGqIfGcYBPw1IIvvDhofbL1DKUDULamOKA15bUoooIKRCbbbWonJkc/Oy8J6FhNs3nxOmiRwCdVNz8egJ9WKJMQptNFJLlJIIYxijxKE4P1lhtOT+7i1Xb37F/fUrZI5ImcjZIRTlrdSwOj0li+IKFUJRVS1dWyw+USh+/uqBTVC8vt2y2W7pDxO73Z7RZ+zJI06ef0Lz7GP6rMvZQhRHiMgcl89Y9sxcaM05wzR5XEgEITj4IsaRqnjCpbEkCh/V2qK22B/29P0Boco9WkrNyekFF0+/Qrs4482XnzP7YlHY9w88ffY1usWa4B2iJANKmzYXRUbOAdKMCK5k81LAu1Lxi8dUaxngl6zP3kM3JyzWF8V4OO9QDMiwJ887hnFgu99zv7nhy1ef8vBwTQq+uNJyRdOtEUKUZJIszFdSJvnI3M8IYSEKpKkqbN0wD3vuX/8S4ozWmvXpCeDReLQtNj1J4Y4moRm8ZLlec3lZGhQP91fsHl4z7G9BBLTOGA1KZZTKXFw8ASRRStZnl1w8fQepJdu7t+Q40bvEj391z3/+9JrHzz/h9MlTQoLdbsf9bmQ3ZX78+Vv+7kc/LTzynMnHXrX3oUxveI88Os+c80eUR2brHGMMv67uSaWPAUeNNIbzyydFEqNrhGlAlrm5y2fP+cZ/89/z3tc+4W/+6i+JfkLahqpZYExNtzohi8JjRSgWq3O65Rm2WZJQGNMgc4Y4kIIjJMc89+Q0/dpQXK5LiSgk67MPkPac0/MnKNtAdOj4gHRXEEZS8sTA0ZHicaOjqWtCcsQIlW1Ly1pohDRoWeJIfnaM84C2DVpoTfBlWvLm9ec8/uAr6Mqgq4rlekWYLco5tps7Qo5opRG2KliQmFgtWtanS4Z9z/WbL2kWa75xdkrICa0sVgkao6DuWJ9fUmmLqWtCLhJVP2/xbiIrXV5LbfnW977LOAyMw8Qw9szjQNs0HMYDd4eBzWHEWkMIQwkXhFyuMkkwTY5xmMgyM8XEbvb4kDDo0kpUGm2b46iQZnVywaPLx6T8hnEeUMbSrs749m/9Dk+/8k1kteA//J//B/vbL8kZKtPgguP5Jz8gJEdyI1JouvU5p2dPSx4wg1QWZTJrq7j//5s6lx27jioMf3Xb17PP1d3u7jSWY8dOYoggwhFiABlkwATxGryGX4MRQmLEAEURFyEkFEiEABEHAXIUEZw42OBLuu3uc86+1Y1BnQTeYKtUu2rV/39r/WdbBCMiFhAszvXkKuW1xeiSHU06+uvVEZlfo4icrTO6fg12II6nRC9RpkELzbjLM+3HHlNOGZxlMmmIKFTwibnRaZCvC56+6yipUc9fe/WWlBoQCAVG58xXe4iYnikxOrptyzAM9F2LUXpnkniMhHmZdlHbddhxwPU9i+WKvKqJYRcIP47E4Oi6FjsOuyeZxkfBpJkgTYqZjsETQsoB2VsuiESenm3pu47JdEK3aXl4/1MyI5gUhs1mgycmPm2wdH06liWCwUdOO8vgQ9pMYXd3F2UyH4qa1d4B09ki5X6XNf3oOfjSdV6++QbT/SP++ff3effXb/LB7bfT3SkVfd/z0s3vcOPr3+bPb7+FH7cYXTFbHZJnE6LIyIqSLC+JCHItCM4ShQZdIkTCppMXHpEioWIQicGmY1ln7C8rtDactz2k2jtdD1i8cxht8CHig8NoTVk05EWNVDqxcp9nnSW4ZucGCtTla1+5FYJDm+R4tV3L6uIBJssxRlHkOV17Trdd03dJHVMy9VT7kOamj31P7yzRC5wdaLuOixcPyYs0D/18neRabwf6vkMqSQgRj0iqmMop8iJp8kLgY6qkl/MZdZFxtulxIpkXj/9zn7E/p1CKvu2Rux7tTdux3W5TjieCk7Zja0dEZlIWOYK8rEBq6mbGcu8Ak5cgFHk1JQjDS1/+GsdXbzA9us4vf/ID3n/nTe5/fAdvB4pqig+OenHIa9/6Lnc/eI/P7n2AUAXN8pjJ9GJSGqXBZDvkWhmC92jpidETRYEPHiUVRZWhtN6N5wggIXqbiCKtKU1kWho2o0JlU1arY5r5xS+KQ+sGpMpRQLc5IS8KqsmELK9TXvjnwfZSIJWAGFIxd+XFV24pJdNsFyl2yTmK5YUDpIToI9v1M06ePCJYl3RnnSb/O592TRw3FEVOu+2IwbM+O0kdHk2TjPmuRUnB0PeE4JBKUpYVSsB2sBRl4tGrqtotgEDqHOsCdV2wmk8YuoFyNqdrWx4+eIDwlkLpRIb2A+OQBvkIH3k2WFprmTYTxtESvEvKl8m4sH9EM19hsiKx8TrHjoFiMiPKnP2rryCE5523fkS7OcN6T55VFNWcxcE1rr58k8cP7vHxnT+QZyX7h1eophcwWU7UarfACmlS+GyMHinSc07KPHWlEqlzT1lmCUkWHqWg77bJ8CDxBvNywAXBGDR5OaWoG4Z+i5KRvltT5Ib5rOazJ/cZB8ukaZjO9hN04lMhKf7vb/feo65c/+qtEOLu45JFuG231HWTQlT6ltNHDzg5eYL1Dutt6o8yBiEUdrRJwXIbpEjpulIKzp6eMptOkoobI2M/7Hxdg3dpc+V5hjIZQmYUmWE2ayiyDBsiKiuIQbDtR0KMLCYVi6bi4OgYB5w8ekApIm5ItAhCggt03vGst1R1ST9aumEkzwt0XlHUc7JiQpZXRCXRKkfrnKqZcfzCDQ4vX8cLzbs//zH3P3ofscOYiizjuRde49KLr/L43kf0Zw/xtmO+PGLv6DLKlNjg0sLuqBSjBMSUMpypiBtaEqJmECoiwsDBhVX6E4loAt6PxCjQMjVrYC2l7nGySEmQOgEodlhz/vQRZbmrA0ISVxDw3KVrSJ1hxy6dHDsvPPFzFi1lxMWAC2kXKATCjTz49B9onVHUZSJEpcb7HmfHJLFqhZI5XhlEJlB9zmpZ0nUtSud4Z/nb7T/x/NVrSdARKSBGEOgfP2bS1GRa01QNXuZsreP05CmHe0ua3OB86sxAysSkrVOhVmaGm998nZOjI+7+7ldEOyB2kIKPgc1gqSY1zjnabkQVJSLLycsZRT2jLGuyYkI1XbDcP2J64YB6uYfvBX/942/46M57PH30CfhE5iotWR6/yMvfeIPf/+yHCcmOgnq6RzWZphfOaBFj/J/0KeIXIblCKYSXVFWJW7cJYvAl/RCx4znzutmlGfZE3RGDAZkRvMcqjXRQKsHWWRBZgj/7BEQalaXmjbrBO0/fpmmUmSnYrsUOtI6JzpEJrtABhxAJuA9EZExM2/b8lGdPn7Bnjpkt91mst3R9u0NsoW1bmjpD6IzTbuBCs4fvnrFYLGjbFpHlrDcbPrl7lys6J28WSKMZLQzDQFUlMwQCJlP0o2fddsQnpxzsLVnNJ5xuRoLQRJnhfI8fPM4Lch0o9y9RLPfpH3+aAMNgOe8tMi9QBDbDSJQKY3KqyYp6Ome6XFKUUybLixxefolqusCjuPfhHf7y7i/4978+RMeA6zvyskZJmO5d5vXvfZ/bv/0pbjuQNTXFbIqUhqqqd4SvR+7SAIUgdVqid+uqiB601Ag8+DWKkegj62cFWiZbWUSPwKGVxEqNtQOOSKZyjAQZC4TOEKFjHBJs6oPDdZ4QBFU1YXAOYwxFVXOmdSqaQ8R5l/R3KfgvLijFiqOBeAkAAAAASUVORK5CYII="